.circleBtn {
    background-color: lightgray;
    height: 29px;
    width: 29px;
    font-size: 9px;
    font-weight: bold;
}

.categoryStyle {
    width: 0;
    height: 0;
    overflow: hidden;
}

.funnelStyle {
    width: 0;
    height: 0;
    overflow: hidden;
}

.headerWidth {
    width: 200px;
}

// .reportingYear{
//      padding-left: 150px;
//      padding-right: 0px;
// }

.reportingYearValue {
    width: 20vw;
}

.reportingInterval {
    width: 10vw;
}

.reportingFrameWork {
    width: 30vw;
}

.reportingName {
    width: 15vw;
}
.exportColor {
    color: #212529;
    font-size: 14px;
}
