<div class="card cardOverwrite h100">
    <div class="headerContainer">
        <div class="headerLeftContainer">
            <div class="pageTitle">CHP Attribution</div>
            <div class="pageSubtitle">Records of heat & electricity produced from the CHP equipment.</div>
        </div>

        <div class="headerRightContainer">
            <div class="headerRightContainerInner">
                <button class="btn btn-sm btn-light refreshBtn centerAlign me-3 py-1" #refreshBtn matRipple
                    [matRippleCentered]="MATERIAL_CONSTANT.MAT_RIPPLE_CENTER" matTooltipPosition="below"
                    [matTooltip]="ButtonTooltipEnum.REFRESH">
                    <span class="material-symbols-outlined text-secondary">
                        refresh
                    </span>
                </button>

                <button type="button" class="btn btn-sm btn-success" matRipple
                    [matRippleCentered]="MATERIAL_CONSTANT.MAT_RIPPLE_CENTER" matTooltipPosition="below"
                    [matTooltip]="ButtonTooltipEnum.CREATE" (click)="showActivityConfigSelection();">
                    <fa-icon [icon]="faPlus" class="me-1"></fa-icon>Record
                </button>
            </div>
        </div>
    </div>

    <div class="ms-3">
        <lib-date-filter [ngClass]="{'d-none': !dateFlag}" #filterChild></lib-date-filter>

        <!-- <div class="ms-1 btn-group float-end mt-2" ngbDropdown placement="bottom-right">
            <button type="button" ngbDropdownToggle class="btn btn-success btn-sm " [ngClass]="{'btn-success': bulkBtnFlag, 'btn-secondary': !bulkBtnFlag, 
            'custom-cursor': bulkBtnFlag, 'disableCursor': !bulkBtnFlag}">Bulk action</button>
            <div ngbDropdownMenu *ngIf="bulkBtnFlag">
                <button class="dropdown-item" (click)="deleteRows(row, 'bulk')">
                    Delete
                </button>
            </div>
        </div> -->
    </div>

    <table class="w-100" mat-table [dataSource]="dataSource" #sort matSort matSortActive="recordID"
        matSortDirection="desc" matSortDisableClear>
        <ng-container matColumnDef="recordID">
            <th class="px-3 recordID" mat-header-cell *matHeaderCellDef>
                <div class="d-flex align-items-center">
                    <!-- <mat-checkbox *ngIf="dataSource.totalCount > 0" [(ngModel)]="allComplete"
                        (change)="setAll($event.checked)"></mat-checkbox> -->
                    <span mat-sort-header disableClear>
                        Record ID
                    </span>
                </div>
            </th>
            <td class="px-3" mat-cell *matCellDef="let row">
                <!-- <mat-checkbox [(ngModel)]="row['completed']" (change)="updateAllComplete()"> -->
                {{ row.recordID ? row.recordID: COMMON_CONSTANT.HYPHEN }}
                <!-- </mat-checkbox> -->
            </td>
        </ng-container>

        <ng-container matColumnDef="reportingPeriod">
            <th class="px-3 reportingPeriod" mat-header-cell *matHeaderCellDef>
                <div class="d-flex align-items-center">
                    <span mat-sort-header disableClear>
                        Reporting Period
                    </span>
                </div>
            </th>
            <td class="px-3 reportingPeriod" mat-cell *matCellDef="let row">
                {{ row.startDate ? (row.startDate | date: 'dd-MMM-yyyy') + ' to ' + (row.endDate | date: 'dd-MMM-yyyy')
                : COMMON_CONSTANT.HYPHEN }}
            </td>
        </ng-container>

        <ng-container matColumnDef="electricityGenerated">
            <th class="px-3 fixed-header-cell" mat-header-cell *matHeaderCellDef>
                <div class="d-flex align-items-center text-end">
                    <span>
                        Quantity of Electricity Generated
                    </span>
                </div>
            </th>
            <td class="px-3 text-end" mat-cell *matCellDef="let row">
                {{ row.electricityGenerated ? row.electricityGenerated: COMMON_CONSTANT.HYPHEN }}
                {{ row.electricityGeneratedUomCode }}
            </td>
        </ng-container>

        <ng-container matColumnDef="heatGenerated">
            <th class="px-3 fixed-header-cell" mat-header-cell *matHeaderCellDef>
                <div class="d-flex align-items-center text-end">
                    <span>
                        Quantity of Heat Generated
                    </span>
                </div>
            </th>
            <td class="px-3 text-end" mat-cell *matCellDef="let row">
                {{ row.heatGenerated ? row.heatGenerated: COMMON_CONSTANT.HYPHEN }} {{ row.heatGeneratedUomCode }}
            </td>
        </ng-container>

        <ng-container matColumnDef="document">
            <th mat-header-cell *matHeaderCellDef disableClear></th>
            <td mat-cell *matCellDef="let row">
                <a href="{{row.docPath}}" target="_blank" [ngClass]="{'d-none': !row.docPath}">
                    <span class="material-symbols-outlined cursorPointer centerAlign"> description </span>
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="option">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <div class="centerAlignVertical">
                    <ng-container *ngTemplateOutlet="icon; 
                    context: {
                        icon: 'edit',
                        tooltip: ButtonTooltipEnum.UPDATE,
                        iconClass: 'text-primary updateIconHover',
                        function: routeToADUpdate,
                        functionParameter: [row]
                    }">
                    </ng-container>
                </div>
            </td>
        </ng-container>

        <!-- <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <div class="text-danger cursorPointer" matTooltip="Delete" matTooltipPosition="above"
                    (click)="deleteRows(row,'')">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </div>
            </td>
        </ng-container> -->

        <!-- <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <div class="btn-group" ngbDropdown placement="left-top">
                    <button type="button" ngbDropdownToggle class="dropdown-after dropdownAfter btn">
                        <fa-icon [icon]="faEllipsisV"></fa-icon>
                    </button>
                    <div ngbDropdownMenu>
                        <button class="dropdown-item">
                            Audit Trail
                        </button>
                    </div>
                </div>
            </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="dataRow"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
                {{ TABLE_CONSTANT.TABLE_NO_DATA }}
            </td>
        </tr>
    </table>
    <mat-paginator class="roundedBorder" #paginator [length]="resultLength"
        [pageSizeOptions]="TABLE_CONSTANT.PAGE_SIZE_OPTION" [pageSize]="TABLE_CONSTANT.DEFAULT_PAGE_SIZE"
        showFirstLastButtons>
    </mat-paginator>

</div>

<ng-template #icon let-icon="icon" let-tooltip="tooltip" let-iconClass="iconClass" let-function="function"
    let-functionParameter="functionParameter">
    <button class="iconBtn centerAlign" [class]="iconClass" matTooltipPosition="below" [matTooltip]="tooltip" matRipple
        [matRippleCentered]="MATERIAL_CONSTANT.MAT_RIPPLE_CENTER" (click)="handleClick(function, functionParameter)">
        <span class="material-symbols-outlined icon">
            {{ icon }}
        </span>
    </button>
</ng-template>