<div [ngClass]="{'d-none': passwordVerified}">
    <h6 mat-dialog-title>
        <strong>Verify Current Password</strong>
    </h6>
    <div mat-dialog-content>
        <form [formGroup]="currentPasswordFG" (submit)="verifyPassword()">

            <div class="row">
                <div class="col-sm-12">
                    <mat-form-field class="matFieldWidth100"
                        [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                        <mat-label>Current Password</mat-label>
                        <input matInput [type]="hideCurrentPassword ? 'password' : 'text'"
                            placeholder="Current Password" formControlName="password" required />
                        <button matSuffix type="button" mat-icon-button
                            (click)="hideCurrentPassword = !hideCurrentPassword">
                            <mat-icon class="fs-4" matIcon>
                                {{hideCurrentPassword ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </button>
                        <mat-error *ngIf="errorHandlingCP('password', 'required')">
                            This is mandatory field.
                        </mat-error>
                        <mat-error *ngIf="errorHandlingCP('password', 'wrongPassword')">
                            Wrong password.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="mt-1" align="end">
                <button type="button" class="btn btn-secondary me-2" mat-dialog-close matRipple
                    [matRippleCentered]="MATERIAL_CONSTANT['matRippleCentered']">
                    {{ ButtonLabelEnum.CANCEL_BTN_LABEL }}
                </button>
                <button type="submit" class="btn btn-success" matRipple
                    [matRippleCentered]="MATERIAL_CONSTANT['matRippleCentered']">
                    Verify Password
                </button>
            </div>
        </form>
    </div>
</div>

<div [ngClass]="{'d-none': !passwordVerified}">
    <h6 mat-dialog-title>
        <strong>Change Password</strong>
    </h6>
    <div mat-dialog-content>
        <form [formGroup]="newPasswordFG" (submit)="changePassword()">

            <div class="row">
                <div class="col-sm-12">
                    <mat-form-field class="matFieldWidth100"
                        [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                        <mat-label>OTP</mat-label>
                        <input matInput type="number" formControlName="otp" placeholder="OTP" required />
                        <mat-error *ngIf="errorHandlingNP('otp', 'required')">
                            This is mandatory field.
                        </mat-error>
                        <mat-error *ngIf="errorHandlingNP('otp', 'invalid')">
                            Invalid OTP.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-sm-12">
                    <mat-form-field class="matFieldWidth100"
                        [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                        <mat-label>New Password</mat-label>
                        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="newPassword"
                            autocomplete="new-password" placeholder="New Password" required />
                        <button matSuffix type="button" mat-icon-button (click)="hidePassword = !hidePassword">
                            <mat-icon class="fs-4" matIcon>
                                {{hidePassword ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </button>
                        <mat-error *ngIf="errorHandlingNP('newPassword', 'required')">
                            New password is required.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-sm-12">
                    <mat-form-field class="matFieldWidth100"
                        [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput [type]="hideConfirmPassword ? 'password' : 'text'"
                            placeholder="Confirm Password" formControlName="confirmPassword" autocomplete="new-password"
                            required />
                        <button matSuffix type="button" mat-icon-button
                            (click)="hideConfirmPassword = !hideConfirmPassword">
                            <mat-icon class="fs-4" matIcon>
                                {{hideConfirmPassword ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </button>
                        <mat-error *ngIf="errorHandlingNP('confirmPassword', 'required')">
                            Confirm password is required.
                        </mat-error>
                        <mat-error *ngIf="errorHandlingNP('confirmPassword', 'passwordMismatch')">
                            Password mismatch.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="row mb-2">
                    <div class="col-sm-6" *ngFor="let policy of passwordPolicyList">
                        <div class="d-flex align-items-center fontSize mt-2">
                            <svg *ngIf="!isPasswordPolicyMatch(policy)" fill="#A1A7AC" class="check-circle-fill
                                bi flex-shrink-0 me-2 extraInfoCardIcon" viewBox="0 0 16 16">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                            </svg>
                            <svg *ngIf="isPasswordPolicyMatch(policy)" fill="currentColor"
                                class="check-circle-fill bi flex-shrink-0 extraInfoCardIcon verifiedIcon me-2"
                                viewBox="0 0 16 16">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                            </svg>
                            <span
                                [ngClass]="{'text-dark': isPasswordPolicyMatch(policy), 'text-secondary': !isPasswordPolicyMatch(policy)}">
                                {{ policy.name }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-1" align="end">
                <button type="button" class="btn btn-secondary me-2" mat-dialog-close matRipple
                    [matRippleCentered]="MATERIAL_CONSTANT.MAT_RIPPLE_CENTER">
                    {{ ButtonLabelEnum.CANCEL_BTN_LABEL }}
                </button>
                <button type="submit" class="btn btn-success" matRipple
                    [matRippleCentered]="MATERIAL_CONSTANT.MAT_RIPPLE_CENTER">
                    Change password
                </button>
            </div>
        </form>
    </div>
</div>