.dialogTitle {
    color: rgb(88, 88, 88);
    font-size: 20px;
    text-transform: none;
}

.dialogHeader {
    font-size: large;
    text-transform: capitalize;
}

.dialogHeaderIcon {
    width: 24px;
    height: 24px;
}