.noData {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    font-size: 200%;
    color: rgb(159, 159, 159);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}