.matFieldWidth100 {
    width: 100%;
}

/* mat toogle css overwrite */
.matBtnFilter {
    mat-button-toggle.mat-button-toggle-checked {
        background-color: #e6e6e6 !important;
    }

    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height: 30px !important;
    }
}

.mat-button-toggle-group-appearance-standard {
    border-radius: 16px !important;
}
/* mat toogle css overwrite */

// material dialog css overwrite
.matDialogContainerOverride {
    .mat-dialog-container {
        padding-bottom: 0 !important;
    }
}
// /material dialog css overwrite/

// material dialog footer
.tscDialogFooter {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 12px;
    padding-bottom: 12px;
}
// /material dialog footer/
