.profileImageDropdownView {
    height: 30px;
    width: 30px;
}

.profileImgContainer {
    width: 90px;
    min-height: 95px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}