<div class="card main-card cardOverwrite">
    <div class="headerContainer">
        <div class="headerLeftContainer">
            <div class="pageTitle">{{activity.name}}</div>
            <div class="pageSubtitle">Records of combustion of fuels in vehicles. Owned or controlled by your
                organization</div>
        </div>
        <div class="headerRightContainer">
            <div class="headerRightContainerInner">
                <lib-search-bar-one class="me-3" #searchBar [searchBy]="'vehicle name'"
                    (emitSearch)="searchFn($event)"></lib-search-bar-one>
               
                    <button class="btn btn-sm btn-light refreshBtn centerAlign me-3 py-1" #refreshBtn matRipple
                    [matRippleCentered]="MATERIAL_CONSTANT.MAT_RIPPLE_CENTER" matTooltipPosition="below"
                    [matTooltip]="ButtonTooltipEnum.REFRESH">
                    <span class="material-symbols-outlined">
                        refresh
                    </span>
                </button>
                <button class="btn btn-sm btn-success" type="button" (click)="routeToAdHoc()">
                    <fa-icon [icon]="faplus"></fa-icon> &nbsp;
                    Record
                </button>
            </div>
        </div>
    </div>

    <div class="ms-3 me-3">
        <lib-date-filter [ngClass]="{'d-none': !dateFlag}" #filterChild></lib-date-filter>
    </div>
    
    <div class="ms-3 mb-2">
        <button matRipple [matRippleCentered]="MATERIAL_CONSTANT.MAT_RIPPLE_CENTER" class="btn btn-link float-end"
            [disabled]="distanceFlag == false && fuelFlag == false" (click)="clearAllChips()">
            <span class="material-symbols-outlined fs-6">
                filter_list_off
            </span>
            Reset Filters
        </button>
    </div>

    <div class="row mx-2 h-auto" [ngClass]="{'d-none': chips?.length == 0}">
        <div class="col-sm-10 py-1 chipListContainer">
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let chipItem of chips" (removed)="removeChip(chipItem)">
                    <span class="fw-normal">{{ chipItem['filter'] }}</span>
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>

    <div class="overflowX customScrollBar h100">
        <table mat-table [dataSource]="dataSource" matSort matSortActive="recordID" matSortDirection="desc"
            matSortDisableClear>
            <ng-container matColumnDef="recordID">
                <th class="ps-3 recordID" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                    Record ID
                </th>
                <td mat-cell *matCellDef="let row">
                    <ng-container
                        *ngIf="row.calculationErrorReason && row.calculationErrorReason.length !== 0; else noError">
                        <img matTooltipPosition="above" matTooltip="{{ row.calculationErrorReason }}" class="ps-2 img"
                            src="/assets/images/icons8-calculation-error-100.png" />
                        {{ row.recordID }}
                    </ng-container>
                    <ng-template #noError>
                        <span class="noError">
                            {{ row.recordID }}
                        </span>
                    </ng-template>
                </td>
            </ng-container>

            <!-- Other columns... -->
            <ng-container matColumnDef="startDate">
                <th mat-header-cell class="accountingPeriod fixed-header-cell" *matHeaderCellDef mat-sort-header
                    disableClear>
                    Accounting Period
                </th>
                <td mat-cell *matCellDef="let row">
                    {{ row.startDate | date:'dd-MMM-yyyy'}} - {{ row.endDate | date:'dd-MMM-yyyy'}}
                </td>
            </ng-container>


            <!-- vehicle Column -->
            <ng-container matColumnDef="vechile">
                <th class="ps-3 vehicle" mat-header-cell *matHeaderCellDef>Vehicle </th>
                <td class="ps-3 vehicleText" mat-cell *matCellDef="let row">
                    {{row.vehicle}}
                </td>
            </ng-container>
            <!-- Fuel Column -->
            <ng-container matColumnDef="fuel">
                <th class="ps-1 fuel" mat-header-cell *matHeaderCellDef>Fuel</th>
                <td class="ps-1" mat-cell *matCellDef="let row" matTooltip={{row.fuel}} matTooltipPosition="above"
                    style="text-align: left;">
                    {{ row.fuel?.length > 12 ? row.fuel.slice(0, 12) + '...' : row.fuel }}
                </td>
            </ng-container>

            <!-- Fuel_Consumed Column -->
            <ng-container matColumnDef="fuelConsumed">
                <th class="fuelConsumed" mat-header-cell *matHeaderCellDef> Fuel Consumed</th>
                <td mat-cell *matCellDef="let row" style="text-align: left;" matTooltip={{row.fuelConsumed}}
                    matTooltipPosition="above" style="text-align: left;">
                    <ng-container *ngIf="row.fuelConsumed !== null; else noDataTemplate">
                        {{ row.fuelConsumed | number: '1.0-2' }}
                    </ng-container>
                    <span>{{row.fuelUnitName}} </span>
                    <ng-template #noDataTemplate>
                        {{COMMON_CONSTANT.HYPHEN}}
                    </ng-template>
                </td>
            </ng-container>

            <!-- Distance Column -->
            <ng-container matColumnDef="distance">
                <th class="ps-3 distance" mat-header-cell *matHeaderCellDef> Distance </th>
                <td class="ps-3" mat-cell *matCellDef="let row" matTooltip={{row.distance}} matTooltipPosition="above"
                    style="text-align: left;">
                    <ng-container *ngIf="row.distance !== null; else noDataTemplate">
                        {{ row.distance | number: '1.0-2'}}
                    </ng-container>
                    <span>{{row.distanceUnitName}}</span>
                    <ng-template #noDataTemplate>
                        {{COMMON_CONSTANT.HYPHEN}}
                    </ng-template>
                </td>
            </ng-container>

            <!-- Mileage Column -->
            <ng-container matColumnDef="mileage">
                <th class="ps-3 mileage" mat-header-cell *matHeaderCellDef> Mileage </th>
                <td class="ps-3" mat-cell *matCellDef="let row" matTooltip={{row.mileage}} matTooltipPosition="above"
                    style="text-align: left;">
                    <ng-container *ngIf="row.mileage !== null; else noDataTemplate">
                        {{ row.mileage | number: '1.0-2' }}
                    </ng-container>
                    <ng-template #noDataTemplate>
                        {{ COMMON_CONSTANT.HYPHEN}}
                    </ng-template>
                </td>
            </ng-container>

            <!-- Emission -->
            <ng-container matColumnDef="emission">
                <th class="ps-5 emission" mat-header-cell *matHeaderCellDef mat-sort-header="Emission">
                    Emission <span class="ps-1">(tCO<sub>2</sub>e)</span> </th>
                <td class="ps-5" mat-cell *matCellDef="let row" matTooltip={{row.emission}} matTooltipPosition="above"
                    style="text-align: left;">
                    <ng-container *ngIf="row.emission !== null; else noDataTemplate">
                        {{ row.emission | number: '1.0-2' }}
                    </ng-container>
                    <span>{{row.emissionUnitName}}</span>
                    <ng-template #noDataTemplate>
                        {{COMMON_CONSTANT.HYPHEN}}
                    </ng-template>
                </td>
            </ng-container>
            <!-- Distance Method -->
            <ng-container matColumnDef="distanceMethod">
                <th class="distanceMethod" mat-header-cell *matHeaderCellDef>
                    <div class="row" style="display: flex; align-items: center;">
                        <funnel-filter #scopeSelect header="Distance Method" type="mono"
                            [entityList]="distanceScreeningTypeList" value="keyID" view="name" [selectFC]="distanceFC"
                            [active]="distanceFlag" (mono)="distanceFlag = true;" (selected)="toggleScopeChip($event)">
                        </funnel-filter>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" #tooltip="matTooltip" matTooltipPosition="above"
                    matTooltipHideDelay="0"
                    [matTooltip]="row.distanceInputMethod?.length > 12 ? row.distanceInputMethod : ''"
                    matTooltipClass="nameTooltip" style="text-align: left;">
                    {{ row.distanceInputMethod?.length > 12 ? row.distanceInputMethod.slice(0, 15) + '...' :
                    row.distanceInputMethod }}
                </td>
            </ng-container>

            <ng-container matColumnDef="fuelMethod">
                <th mat-header-cell class="ps-5 fuelMethod" *matHeaderCellDef>
                    <div class="row" style="display: flex; align-items: center;">
                        <funnel-filter #fuelSelect header="Fuel Method" type="mono" value="keyID" view="name"
                            [entityList]="FuelScreeningTypeList" [selectFC]="fuelFC" [active]="fuelFlag"
                            (mono)="fuelFlag = true;" (selected)="toggleScopeChip($event)">
                        </funnel-filter>
                    </div>
                </th>
                <td class="ps-5" mat-cell *matCellDef="let row" #tooltip="matTooltip" matTooltipPosition="above"
                    matTooltipHideDelay="0" [matTooltip]="row.fuelInputMethod?.length > 12 ? row.fuelInputMethod : ''"
                    matTooltipClass="nameTooltip" style="text-align: left;">
                    {{ row.fuelInputMethod?.length > 12 ? row.fuelInputMethod.slice(0, 18) + '...' : row.fuelInputMethod
                    }}
                </td>
            </ng-container>

            <ng-container matColumnDef="doc">
                <th mat-header-cell *matHeaderCellDef class="option"></th>
                <td mat-cell class="ps-5" *matCellDef="let row">
                    <a href="{{row.docPath}}" target="_blank" [ngClass]="{'d-none': !row.docPath}"
                        [matTooltip]="row.docName" matTooltipPosition="above" matTooltipClass="infoTooltip">
                        <span class="material-symbols-outlined cursorPointer centerAlign"> description </span>
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell class="ps-3 action" *matHeaderCellDef></th>
                <td class="ps-3" mat-cell *matCellDef="let row">
                    <div class="centerAlignVertical">
                        <ng-container *ngTemplateOutlet="icon; 
                        context: {
                            icon: 'edit',
                            tooltip: ButtonTooltipEnum.UPDATE,
                            iconClass: 'text-primary updateIconHover',
                            function: routeToADUpdate,
                            functionParameter: [row]
                        }">
                        </ng-container>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
                    {{ TABLE_CONSTANT.TABLE_NO_DATA }}
                </td>
            </tr>
        </table>
    </div>
    <mat-paginator class="roundedBorder" #paginator [length]="resultLength"
        [pageSizeOptions]="TABLE_CONSTANT['pageSizeOption']" [pageSize]="TABLE_CONSTANT['pageSize']"
        showFirstLastButtons>
    </mat-paginator>
</div>

<ng-template #icon let-icon="icon" let-tooltip="tooltip" let-iconClass="iconClass" let-function="function"
    let-functionParameter="functionParameter">
    <button class="iconBtn centerAlign" [class]="iconClass" matTooltipPosition="below" [matTooltip]="tooltip" matRipple
        [matRippleCentered]="MATERIAL_CONSTANT.MAT_RIPPLE_CENTER" (click)="handleClick(function, functionParameter)">
        <span class="material-symbols-outlined icon">
            {{ icon }}
        </span>
    </button>
</ng-template>