.isChecked {
    width: 5%;
    align-items: center;
}

.columnWidth {
    width: 10%;
}

.reportingPeriod {
    width: 15%;
}

.filter {
    width: 125px;
}

.totalSEE {
    width: 20%;
}

.options {
    width: 5%;
}

.custom-not-allowed {
    cursor: not-allowed;
}