<mat-card class="cardOverwrite">
    <form [formGroup]="activityDataFG">
        <div class="row">
            <div class="col-sm-4">
                <lib-date-input class="cursorPointer" #customDateInput (emitFilter)="dateInpChange()"
                    [materialFieldWidthInp]="true"
                    [materialFormFieldAppearanceInp]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE"
                    [isMandatoryFieldInp]="true" [dateInputTypeInp]="dateInputTypeEnum.CUSTOM_INPUT"
                    [labelInp]="'Accounting Period'"></lib-date-input>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <mat-form-field class="matFieldWidth100"
                    [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                    <mat-label class="formLabel">Quantity of precursor {{source}}</mat-label>
                    <input type="number" matInput placeholder="0.00" min="0" formControlName="quantity"
                        required>
                    <mat-error *ngIf="errorHandling('quantity', 'min')">
                        Quantity can't be negative.
                    </mat-error>
                    <mat-error *ngIf="errorHandling('quantity', 'required')">
                        {{ formErrorEnum.REQUIRED }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field class="matFieldWidth100"
                    [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                    <mat-label class="formLabel">Select unit</mat-label>
                    <mat-select formControlName="unitID" required>
                        <mat-option *ngFor="let unit of allUnit" [value]="unit.id">
                            {{ unit.name }} <span class="float-end">{{unit.uomCode}}</span>
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="errorHandling('unitID', 'required')">
                        {{ formErrorEnum.REQUIRED }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-4 mt-2">
            <div class="col-sm-2" [ngClass]="{'d-none': !noBillFileAvailable}">
                <div class="d-flex justify-content-between field-width">
                    <button class=" btn btn-light uploadBtn" type="button" (click)="uploadDoc()">
                        Attach bill
                    </button>
                    <input #fileInput type="file" accept="application/pdf" class="d-none" (change)="fileUpload($event)">
                </div>
            </div>
            <div class="row border border-2 rounded m-1 p-2" [ngClass]="{'d-none': noBillFileAvailable}">
                <div class="col-sm-2 docIcon" matSuffix mat-icon-button mat-raised-button [matTooltip]="billFileName"
                    matTooltipPosition="below">
                    <img height="40px" src="assets/images/default-doc.ico" alt="noc document preview">
                </div>
                <div class="col-sm-4 centerAlignVertical uploadDocumentFont"> {{billFileName}} </div>
                <div class="col-sm-2">
                    <mat-icon class="btn" (click)="removeFile()">
                        <span class="material-symbols-outlined text-danger">
                            delete
                        </span>
                    </mat-icon>
                </div>
            </div>
        </div>
        <div class="float-end mt-4 ms-4">
            <button class="btn btn-sm btn-secondary me-2" type="button">
                Cancel
            </button>

            <button class="btn btn-sm btn-primary" type="submit" (click)="onSubmit()">
                Save
            </button>
        </div>
    </form>
</mat-card>