<ng-container *ngIf="activityConfigApi">
    <mat-card class="border cardOverwrite">
        <div class="cardTitle pb-2">
            API
        </div>

        <ng-container *ngTemplateOutlet="labelValue; context: {
            label: 'Key',
            value: activityConfigApi.apiKey,
            class: 'pt-1'
        }">
        </ng-container>
    </mat-card>
</ng-container>

<ng-template #labelValue let-label="label" let-value="value" let-class="class" let-valueClass="valueClass">
    <div class="row" [class]="class">
        <div class="col-sm-4">
            {{ label }}
        </div>
        <div class="col-sm-8">
            <div class="col-sm-8 fw-bold" [class]="valueClass">
                {{ value ? value : COMMON_CONSTANT.HYPHEN }}
            </div>
        </div>
    </div>
</ng-template>
