// card shadow effect override
.cardOverwrite {
    box-shadow: none !important;
    border-radius: 16px !important;
}

.cardBackgroundColor {
    background: whitesmoke;
}

.centerAlign {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerAlignHorizontal {
    display: flex;
    justify-content: center;
}

.centerAlignVertical {
    display: flex;
    align-items: center;
}

.cursorPointer {
    cursor: pointer !important;
}

.cursorDefault {
    cursor: default;
}

.breakLine {
    white-space: pre-line !important;
}

.h100 {
    min-height: calc(100vh - 168px);
}

.roundedBorder {
    border-radius: 16px !important;
}

.cardIcon {
    width: 20px;
    height: 20px;
}

.dropdownAfter::after {
    display: none;
}

.funnelFilter {
    width: 0;
    height: 0;
    overflow: hidden;
}

.success {
    background-color: rgba($successColor, $opacityValue);
    color: $successColor;
    text-transform: none !important;
}

.warning {
    background-color: rgba($warningColor, $opacityValue);
    color: $warningColor;
    text-transform: none !important;
}

.danger {
    background-color: rgba($dangerColor, $opacityValue);
    color: $dangerColor;
    text-transform: none !important;
}

.info {
    background-color: rgba($infoColor, $opacityValue);
    color: $infoColor;
    text-transform: none !important;
}

.disable {
    background-color: rgba($disableColor, $opacityValue);
    color: $disableColor;
    text-transform: none !important;
}

.partial {
    background-color: rgba($partialColor, $opacityValue);
    color: $partialColor;
    text-transform: none !important;
}

.hideDropdownIcon::after {
    display: none;
}

.sticky {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 8px;
    z-index: 1000;
}

.lineClamp1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.stickyDropdownMenuItem {
    position: sticky;
    bottom: 0;
    z-index: 1;
    padding: 8px;
    background-color: #e0f3ff;
}
