<div mat-dialog-title>
    <strong class="dialogHeader">
        {{ Title }} Combustion Equipment
    </strong>
</div>
<div mat-dialog-content>
    <form [formGroup]="assetFG">

        <mat-form-field class="matFieldWidth100" [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
            <mat-label class="formLabel">Combustion Equipment Name</mat-label>
            <input class="formPlaceholder" matInput type="text" placeholder="Combustion Equipment Name"
                formControlName="assetName" required />
            <mat-error *ngIf="errorHandling('assetName', 'required')">
                Name is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="matFieldWidth100" [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
            <mat-label class="formLabel">Combustion Equipment Code</mat-label>
            <input class="formPlaceholder" matInput type="text" placeholder="Combustion Equipment Code"
                formControlName="assetAssetID" />
            <mat-error *ngIf="errorHandling('assetAssetID', 'duplicate_key')">
                Combustion equipment code already exists
            </mat-error>
        </mat-form-field>

        <mat-form-field class="matFieldWidth100" [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
            <mat-label class="formLabel"> Description </mat-label>
            <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="10"
                [maxlength]="maxLength" formControlName="description"></textarea>
            <mat-hint>Total number of character remaining: <span
                    [class]="(charactersRemainingFn(assetFG) < 20)? 'text-danger': '' ">{{
                    charactersRemainingFn(assetFG) }}</span>
                /{{maxLength}}
            </mat-hint>
            <mat-error *ngIf="errorHandling('description', 'required')">
                Description is required
            </mat-error>
        </mat-form-field>

        <div align="end" class="py-5">
            <button type="button" class="button btn btn-secondary me-2" mat-dialog-close>
                Cancel
            </button>
            <div [ngSwitch]="action" class="d-inline">
                <button *ngSwitchCase="'create'" type="submit" class="button btn btn-success"
                    (click)="checkKeyAvailability()">
                    Create
                </button>
                <button *ngSwitchCase="'update'" type="submit" class="button btn btn-success"
                    [ngClass]="{'disabled': isEqual}" (click)="updateAsset()">
                    Update
                </button>
                <button *ngSwitchDefault class="d-none"></button>
            </div>
        </div>
    </form>
</div>