<div class="card main-card cardOverwrite h100">
    <div class="headerContainer">
        <div class="headerLeftContainer">
            <div class="pageTitle">Security</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <mat-card class="border cardOverwrite">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card-title sectionTitle">
                                Password
                            </div>
                            <div class="col-sm-6">
                                Last changed {{ getTimeRemaining(latPasswordChange?.['lastChangeDate']) }}
                            </div>
                        </div>
                        <div class="col-sm-6 centerAlignVertical justify-content-end">
                            <button class="btn btn-success" type="button" (click)="changePassword()">
                                Change password
                                <!-- TODO -->
                                <!-- {{ COMMON_CONSTANT.CHANGE_PASSWORD_LABEL }} -->
                            </button>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>