<div class="container">
    <div class="card main-card cardOverwrite h100">
        <div class="headerContainer">
            <div class="headerLeftContainer">
                <div class="pageTitle">Employee commute emissions survey</div>
                <div class="pageSubtitle"></div>
            </div>
        </div>

        <div class="card-body">
            <form [formGroup]="surveyFG">
                <mat-card class="border cardOverwrite">
                    <div class="card-title">
                        <div class="cardTitle">
                            Details
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-2 col-form-label fs-6">Employee code</label>
                        <div class="col-sm-2">
                            <span class="form-control-plaintext"> {{employeeCode}} </span>
                        </div>
                    </div>


                    <div class="row pt-2">
                        <label class="col-sm-2 col-form-label fs-6">Employee name</label>
                        <div class="row col-sm-5">
                            <span class="form-control-plaintext"> {{employeeName}} {{employeeLastName}} </span>
                        </div>
                    </div>

                    <div class="col-sm-3 pt-2">
                        <mat-form-field class="matFieldWidth100"
                            [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE" matTooltip="Working day">
                            <mat-label class="formLabel">Average working days in a month
                            </mat-label>
                            <input class="formPlaceholder" matInput type="number" min="0" max="31" placeholder="0"
                                formControlName="workingDays" />
                            <mat-error *ngIf="errorHandling('workingDays', 'required')">
                                Working days is required field
                            </mat-error>
                            <mat-error *ngIf="errorHandling('workingDays', 'min')">
                                Working days cannot be less than 0
                            </mat-error>
                            <mat-error *ngIf="errorHandling('workingDays', 'max')">
                                Working days cannot be greater than 31
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-card>
                <div class="pt-3">
                    <mat-card class="border cardOverwrite pt-2">
                        <table>
                            <thead class="theadStickyOverwrite">
                                <div class="card-title">
                                    <div class="cardTitle">
                                        Commute profile
                                    </div>
                                </div>
                            </thead>

                            <tbody formArrayName="distanceDetails">
                                <tr *ngFor="let distanceDetail of distanceDetailsArray.controls; let i = index">
                                    <ng-container [formGroupName]="i">
                                        <div class="row">
                                            <div class="col-sm-2 largeField">
                                                <mat-form-field class="matFieldWidth100"
                                                    [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                                    <mat-label class="formLabel">Mode of transport</mat-label>
                                                    <mat-select formControlName="modeOfTransportID">
                                                        <ng-container *ngIf="modeOfTransport.length == 0">
                                                            <mat-option [value]="'no-data'" disabled>No data
                                                                available</mat-option>
                                                        </ng-container>
                                                        <mat-option
                                                            (click)="onRowClick(distanceDetail.get('modeOfTransportID').value, i)"
                                                            *ngFor="let method of modeOfTransport" [value]="method.id">
                                                            {{ method.name }}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error
                                                        *ngIf="errorHandlingForFormArrayData('modeOfTransportID', 'required', i)">
                                                        Mode of transport is a required field
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>


                                            <div class="col-sm-2 largeField"
                                                [ngClass]="{'d-none': this.surveyFG.get('distanceDetails').at(i).controls['rows'].value == null}">
                                                <mat-form-field class="matFieldWidth100"
                                                    [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                                    <mat-label class="formLabel">{{ rowDetails[i]?.labels.label1
                                                        }}</mat-label>
                                                    <mat-select formControlName="modeOfTransportLevelOneID">
                                                        <mat-option
                                                            (click)="onRowClickForChildMode(distanceDetail.get('modeOfTransportLevelOneID').value, i)"
                                                            *ngFor="let type of this.surveyFG.get('distanceDetails').at(i).controls['rows'].value"
                                                            [value]="type.id" matTooltip="{{ type.description }}">
                                                            {{ type.name }}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error
                                                        *ngIf="errorHandlingForFormArrayData('modeOfTransportLevelOneID', 'required', i)">
                                                        These field is required
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="mode col-sm-2 largeField"
                                                [ngClass]="{'d-none': this.surveyFG.get('distanceDetails').at(i).controls['childRows'].value == null}">
                                                <mat-form-field class="matFieldWidth100"
                                                    [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                                    <mat-label class="formLabel">{{ rowDetails[i]?.labels.label2
                                                        }}</mat-label>
                                                    <mat-select formControlName="modeOfTransportLevelTwoID">
                                                        <mat-option
                                                            (click)="onRowClickforChildren2(distanceDetail.get('modeOfTransportLevelTwoID').value, i)"
                                                            *ngFor="let type of this.surveyFG.get('distanceDetails').at(i).controls['childRows'].value"
                                                            [value]="type.id" matTooltip="{{ type.description }}">
                                                            {{ type.name }}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error
                                                        *ngIf="errorHandlingForFormArrayData('modeOfTransportLevelTwoID', 'required', i)">
                                                        These field is required
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>


                                            <div class="mode col-sm-2 largeField"
                                                [ngClass]="{'d-none': this.surveyFG.get('distanceDetails').at(i).controls['childRows1'].value == null}">
                                                <mat-form-field class="matFieldWidth100"
                                                    [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                                    <mat-label class="formLabel">{{ rowDetails[i]?.labels.label3
                                                        }}</mat-label>
                                                    <mat-select formControlName="modeOfTransportLevelThreeID">
                                                        <mat-option
                                                            *ngFor="let type of this.surveyFG.get('distanceDetails').at(i).controls['childRows1'].value"
                                                            [value]="type.id" matTooltip="{{ type.description }}">
                                                            {{ type.name }}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error
                                                        *ngIf="errorHandlingForFormArrayData('modeOfTransportLevelThreeID', 'required', i)">
                                                        These field is required
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>


                                            <div class="col-sm-1 largeField">
                                                <mat-form-field class="matFieldWidth100"
                                                    [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                                    <mat-label class="formLabel">Distance
                                                    </mat-label>
                                                    <input class="formPlaceholder" matInput type="number" min="0"
                                                        placeholder="0" formControlName="distance" />
                                                    <mat-error
                                                        *ngIf="distanceDetail.controls['distance'].hasError('min')">
                                                        Minimum value is 0.
                                                    </mat-error>
                                                    <mat-error
                                                        *ngIf="errorHandlingForFormArrayData('distance', 'required', i)">
                                                        This field is required
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-sm-2 largeField">
                                                <mat-form-field class="matFieldWidth100"
                                                    [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                                    <mat-label class="formLabel">Select unit</mat-label>
                                                    <mat-select formControlName="distanceUnitID">
                                                        <ng-container *ngFor="let units of unitM">
                                                            <mat-option [value]="units.id">
                                                                <span class="d-flex justify-content-between">{{
                                                                    units.name }}
                                                                    <span>{{ units.uomCode }} </span></span>
                                                            </mat-option>
                                                        </ng-container>
                                                    </mat-select>
                                                    <mat-error
                                                        *ngIf="errorHandlingForFormArrayData('distanceUnitID', 'required', i)">
                                                        This field is required
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>


                                            <div class="col-sm-1 pt-1 size">
                                                <button type="button" class="btn" mat-icon-button
                                                    (click)="onDeleteRow(i)">
                                                    <span class="material-symbols-outlined text-danger"> delete </span>
                                                </button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </tr>
                                <button type="button" class="btn btn-success" (click)="add()">
                                    Add another transport
                                </button>
                            </tbody>
                        </table>
                    </mat-card>
                </div>

            </form>

            <div class="pt-2 ms-3">
                <lib-generate-otp (otpEmitter)="onOtpEmitted($event)" [showEnterOtpInput]="isValidOTP1"
                    [remainingTimeInput]="remainingTimeInput"
                    [submitBtnLblInput]="submitBtnLblInput"></lib-generate-otp>
                <button class="d-none btn btn-success float-end me-2" (click)="checkForm()">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
