<div class="card main-card cardOverwrite">
    <div class="headerContainer">
        <div class="headerLeftContainer">
            <div class="pageTitle">Products</div>
            <div class="pageSubtitle">Create finished products, capital goods, raw materials, by products,
                intermediate and precursor products to track their emissions.</div>
        </div>

        <div class="headerRightContainer">
            <div class="headerRightContainerInner">
                <lib-search-bar-one class="me-3" #searchBar searchBy="product name"
                    (emitSearch)="searchFn($event)"></lib-search-bar-one>

                <button class="btn btn-sm btn-light refreshBtn centerAlign me-3 py-1" #refreshBtn matRipple
                    [matRippleCentered]="MATERIAL_CONSTANT.MAT_RIPPLE_CENTER" matTooltipPosition="below"
                    [matTooltip]="ButtonTooltipEnum.REFRESH">
                    <span class="material-symbols-outlined text-secondary">
                        refresh
                    </span>
                </button>

                <button type="button" class="btn btn-sm btn-success btnRightRadiusZero"
                    (click)="createUpdateProductOrService(FormAction.CREATE, '')" matRipple
                    [matRippleCentered]="MATERIAL_CONSTANT.MAT_RIPPLE_CENTER" matTooltipPosition="below"
                    [matTooltip]="ButtonTooltipEnum.CREATE">
                    <fa-icon [icon]="faPlus" class="me-1"></fa-icon>Product
                </button>

                <div class="btn-group" ngbDropdown placement="bottom-right" matTooltipPosition="below"
                    [matTooltip]="ButtonTooltipEnum.MORE">
                    <button type="button" ngbDropdownToggle class="btn btn-sm btn-success btnLeftRadiusZero">
                    </button>
                    <div ngbDropdownMenu>
                        <button class="dropdown-item" matRipple
                            [matRippleCentered]="MATERIAL_CONSTANT.MAT_RIPPLE_CENTER" (click)="bulkUpload()">
                            Import
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div [ngStyle]="{'display': isFirstTemplate ? '' : 'none'}">
        <div class="pe-3 me-1 btn-group float-end" ngbDropdown placement="bottom-right"
            [class]="bulkBtnFlag ? 'custom-cursor' : 'disableCursor'">
            <button type="button" ngbDropdownToggle class="btn btn-sm btn-secondary" [disabled]="!bulkBtnFlag">
                Bulk actions
            </button>

            <div ngbDropdownMenu *ngIf="bulkBtnFlag">
                <button class="dropdown-item" (click)="bulkUpdate('active')">
                    <span class="ms-2">Mark all as active</span>
                </button>
                <button class="dropdown-item" (click)="bulkUpdate('inactive')">
                    <span class="ms-2">Mark all as inactive</span>
                </button>
                <button class="dropdown-item" (click)="bulkUpdate('delete')">
                    <span class="ms-2 text-danger">
                        {{ ButtonLabelEnum.DELETE_BTN_LABEL }} all
                    </span>
                </button>
            </div>
        </div>

        <div class="me-2 mb-2">
            <button matRipple [matRippleCentered]="true" class="btn btn-link float-end" (click)="resetFilter()"
                [disabled]="!isAnyFlagTrue()">
                <span class="material-symbols-outlined fs-6">
                    filter_list_off
                </span>
                Reset Filters
            </button>
        </div>
    </div>

    <div class="overflowX customScrollBar">
        <table class="w-100" mat-table [dataSource]="dataSource" matSort #sort="matSort" matSortActive="name"
            matSortDirection="desc" matSortDisableClear [ngStyle]="{'display': isFirstTemplate ? '' : 'none'}">

            <ng-container matColumnDef="productCode">
                <th class="columnWidth" mat-header-cell *matHeaderCellDef>
                    <div class="d-flex align-items-center">
                        <mat-checkbox [(ngModel)]="allComplete" (change)="selectAll($event.checked)">
                        </mat-checkbox>
                        <span class="ms-2 mt-1" mat-sort-header disableClear>
                            Product Code
                        </span>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox [(ngModel)]="row['completed']" (change)="rowSelected()"></mat-checkbox>
                    <span class="ms-2 mt-1">
                        {{ row.code ? row.code: COMMON_CONSTANT.HYPHEN }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th class="columnWidth px-3" mat-header-cell *matHeaderCellDef>
                    <div class="d-flex align-items-center">
                        <span mat-sort-header disableClear>
                            Name
                        </span>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="px-3 py-2">
                    <span class="lineClamp1 cursorPointer text-primary" (click)="navigateToViewPage(row.id)"
                        [matTooltip]="row.name?.length >= 15? row.name: ''" matTooltipPosition="above">
                        {{ row.name ? row.name : COMMON_CONSTANT.HYPHEN }}
                    </span>
                    <span *ngIf="row.isCbamComplaint" class="badge rounded-pill cbamBadge">
                        CBAM
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th class="px-3 desc" mat-header-cell *matHeaderCellDef> Description </th>
                <td class="px-3 desc" mat-cell *matCellDef="let row">
                    <span class="lineClamp1" [matTooltip]="row.description?.length >= 15? row.description: ''"
                        matTooltipPosition="above">
                        {{ row.description? row.description : COMMON_CONSTANT.HYPHEN }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="productType">
                <th class="columnWidth px-3" mat-header-cell *matHeaderCellDef>
                    <funnel-filter #productTypeFilter header="Type" type="multi" [entityList]="productTypes"
                        value="keyID" view="name" [selectFC]="productTypeFC" [active]="productTypeFlag"
                        selectAllLabel="Select all" (multi)="productTypeFlag = true;" [resetFlag]="resetFlag">
                    </funnel-filter>
                </th>

                <td class="px-3" mat-cell *matCellDef="let row">
                    {{ row.productTypeName ? row.productTypeName : COMMON_CONSTANT.HYPHEN }}
                </td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th class="columnWidth px-3" mat-header-cell *matHeaderCellDef>
                    <funnel-filter #categorySelect header="Category" type="multi" [entityList]="categories"
                        value="keyID" view="name" [selectFC]="categoryFC" [active]="categoryFlag"
                        selectAllLabel="Select all" (multi)="categoryFlag = true;" [resetFlag]="resetFlag">
                    </funnel-filter>
                </th>
                <td class="px-3 py-2" mat-cell *matCellDef="let row">
                    {{ row.category[0] }}
                    <button *ngIf="categoryDisplayCount(row.category) >= 1" class="btn btn-sm rounded-circle circleBtn"
                        [matTooltip]="formatCaegoryTooltip(row.category)" matTooltipClass="nameTooltip"
                        matTooltipPosition="above">
                        {{categoryDisplayCount(row.category)}}
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th class="columnWidth px-3" mat-header-cell *matHeaderCellDef>
                    <funnel-filter #statusFilter header="Status" type="mono" [entityList]="statusList"
                        [selectFC]="statusFC" [active]="statusFlag" (mono)="statusFlag = true;" [resetFlag]="resetFlag">
                    </funnel-filter>
                </th>
                <td class="px-3" mat-cell *matCellDef="let row" [ngClass]="StatusService.getStatusClass(row.status)">
                    {{ row.status ? StatusService.getStatusValue(row.status) : COMMON_CONSTANT.HYPHEN }}
                </td>
            </ng-container>

            <ng-container matColumnDef="keyID">
                <th class="columnWidth px-3" mat-header-cell *matHeaderCellDef> API Key ID </th>
                <td class="px-3" mat-cell *matCellDef="let row;">
                    <ng-container *ngIf="row.keyID; else noKey">
                        <button class="mx-auto" mat-icon-button type="button" #tooltip="matTooltip"
                            matTooltipPosition="above" matTooltipHideDelay="0"
                            [matTooltip]="COMMON_CONSTANT.VIEW_API_KEY_ID" [popover]="myPopover" popoverPlacement="top"
                            [popoverOnHover]="false" [popoverAnimation]="true">
                            <span type="button" class="material-symbols-outlined fs-5">
                                visibility
                            </span>
                        </button>

                        <popover-content #myPopover [animation]="true" [closeOnClickOutside]="true">
                            <span>{{ row.keyID }}</span>
                            <button class="float-end" [cdkCopyToClipboard]="row.keyID" mat-icon-button type="button">
                                <span class="material-symbols-outlined fs-5" #tooltip="matTooltip"
                                    matTooltipPosition="above" matTooltipHideDelay="0" matTooltipClass="nameTooltip"
                                    matTooltip="Copy">
                                    content_copy
                                </span>
                            </button>
                        </popover-content>
                    </ng-container>
                    <ng-template #noKey>
                        <span class="ps-3">{{COMMON_CONSTANT.HYPHEN}}</span>
                    </ng-template>
                </td>

            </ng-container>

            <ng-container matColumnDef="option">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell class="option" *matCellDef="let row">
                    <div class="btn-group" ngbDropdown placement="left-top">
                        <button type="button" ngbDropdownToggle class="dropdown-after dropdownAfter btn">
                            <fa-icon [icon]="faEllipsisV"></fa-icon>
                        </button>
                        <div ngbDropdownMenu>
                            <button class="dropdown-item" (click)="createUpdateProductOrService('update',row.id)">
                                {{ ButtonLabelEnum.UPDATE_BTN_LABEL }}
                            </button>

                            <button class="dropdown-item" (click)="changeItemStatus(row)">
                                <!-- {{ ButtonLabelEnum.MARK_INACTIVE_BTN_LABEL }} -->
                                <ng-container *ngIf="row.status === 'INACTIVE'; else activeContainer">
                                    Mark as active
                                </ng-container>
                                <ng-template #activeContainer>
                                    Mark as inactive
                                </ng-template>
                            </button>

                            <button class="dropdown-item btn-outline-danger" (click)="removeItem(row)">
                                {{ ButtonLabelEnum.DELETE_BTN_LABEL }}
                            </button>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="dataRow"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
                    {{ TABLE_CONSTANT.TABLE_NO_DATA }}
                </td>
            </tr>
        </table>
    </div>

    <mat-paginator class="roundedBorder" [ngStyle]="{'display': isFirstTemplate ? '' : 'none'}" showFirstLastButtons
        #paginator [length]="dataSourceLength" [pageSize]="TABLE_CONSTANT.DEFAULT_PAGE_SIZE"
        [pageSizeOptions]="TABLE_CONSTANT.PAGE_SIZE_OPTION">
    </mat-paginator>

    <div class="row" [ngStyle]="{'display': isFirstTemplate ? 'none' : ''}">
        <ng-container *ngIf="dataSource?.length !== 0">
            <div class="col-sm-4 px-4 product-column">
                <div class="row centerAlignHorizontal mt-3">
                    <div class="row mb-4">
                        <div class="product-list customScrollBar overflowY">
                            <div class="col-sm-12 mb-3" *ngFor="let row of dataSource; let i=index"
                                [ngClass]="{'cursorPointer': selectedProductID != row.id}">
                                <mat-card class="card cardOverwrite p-3 me-2"
                                    [ngClass]="{'current-org': selectedProductID == row.id, 'border': selectedProductID != row.id}"
                                    [id]="row.id">
                                    <div class="row">
                                        <div class="col-sm-12 d-flex flex-column justify-content-center"
                                            (click)="navigateToViewPage(row.id)">

                                            <div class="fw-bold pb-1">
                                                {{ row.name ? row.name : COMMON_CONSTANT.HYPHEN }}
                                                <span *ngIf="row.isCbamComplaint"
                                                    class="badge rounded-pill cbamBadge">CBAM
                                                </span>
                                            </div>

                                            <div class="row text-secondary">
                                                <div class="col-sm-6">Product Code:
                                                </div>
                                                <div class="col-sm-6 fw-bold">
                                                    {{ row.code ? row.code : COMMON_CONSTANT.HYPHEN }}
                                                </div>
                                            </div>

                                            <div class="row text-secondary">
                                                <div class="col-sm-6">Type:
                                                </div>
                                                <div class="col-sm-6 fw-bold">
                                                    {{ row.productTypeName ? row.productTypeName :
                                                    COMMON_CONSTANT.HYPHEN }}
                                                </div>
                                            </div>

                                            <div class="row text-secondary">
                                                <div class="col-sm-6">Category:
                                                </div>
                                                <div class="col-sm-6 fw-bold">
                                                    {{ row.category[0] ? row.category[0] : COMMON_CONSTANT.HYPHEN }}
                                                    <button *ngIf="categoryDisplayCount(row.category) >= 1"
                                                        class="btn btn-sm rounded-circle circleBtn"
                                                        [matTooltip]="formatCaegoryTooltip(row.category)"
                                                        matTooltipClass="nameTooltip" matTooltipPosition="above">
                                                        {{categoryDisplayCount(row.category)}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-8 px-4 product-column ">
                <div class="row centerAlignHorizontal mt-3">
                    <mat-card class="row border cardOverwrite me-4 mb-4">
                        <router-outlet></router-outlet>
                    </mat-card>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #icon let-icon="icon" let-tooltip="tooltip" let-iconClass="iconClass" let-function="function"
    let-functionParameter="functionParameter">
    <button class="iconBtn centerAlign" [class]="iconClass" matTooltipPosition="below" [matTooltip]="tooltip" matRipple
        [matRippleCentered]="MATERIAL_CONSTANT.MAT_RIPPLE_CENTER" (click)="handleClick(function, functionParameter)">
        <span class="material-symbols-outlined icon">
            {{ icon }}
        </span>
    </button>
</ng-template>