.padding {
    padding-left: 35px;
    padding-right: 35px;
}


table.table-bordered {
    border: 1px solid black !important;
}

table.table-bordered>thead>tr>th {
    border: 1px solid black;
}

table.table-bordered>tbody>tr>td {
    border: 1px solid black;
}

table.table-bordered>tbody>tr>th {
    border: 1px solid black;
}

.headingColor {
    background-color: rgb(64, 148, 139);
    color: white;
}

.minHeight {
    height: 35px;
}
.pageHeaderLogo {
    height: 44px;
    width: auto;
}