.userSignUpImg {
    max-width: 95%;
    max-height: 600px;
}

.profileImgPreviewContainer {
    height: 100px;
}

.profileImgPreview {
    width: 100%;
}

.extraInfoCardIcon {
    width: 20px;
    height: 20px;
}

.verifiedIcon {
    color: #3AC47D;
}

.font-size-2 {
    font-size: 0.7rem;
}

.matCheckBox {
    white-space: normal;
}
