<div class="content">
    <div mat-dialog-header>

        <div class="row">
            <div class="col-sm-11">
                <div class="pageTitle dialogHeader">Respond to emissions request</div>
                <div class="pageSubtitle">
                </div>
            </div>
            <div class="col-sm-1">
                <button mat-icon-button mat-dialog-close cdkFocusInitial class="float-end matDialogClose"
                    matTooltip="Close" matTooltipPosition="before">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </button>
            </div>
        </div>
    </div>

    <app-parent-details [internalRequestID]="requestID" [source]="source" (isEmissionCreate)="isEmissionCreated($event)"></app-parent-details>
    
</div>