<div class="card main-card cardOverwrite h100">
    <div class="headerContainer">
        <div class="headerLeftContainer">
            <div class="endAlignVertical">
                <span class="fw-bold fs-5"> {{ subsidiaryM['name'] }} </span>
                <div class="py-1">Subsidiary ID: {{ subsidiaryM['id'] }}</div>
            </div>
        </div>
        <div class="headerRightContainer">
            <div class="headerRightContainerInner">
                <a class="text-secondary" [routerLink]="['/subsidiary', this.subsidiaryID, 'update']"
                    matTooltip="Update" matTooltipPosition="below">
                    <span class="material-symbols-outlined fs-5">
                        edit_square
                    </span>
                </a>
            </div>
        </div>
    </div>
    <hr class="hrDivider">
    <div class="card-body">
        <div class="row pt-1">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5">
                        Address
                    </div>
                    <div class="col-sm-6 fw-bold">
                        {{ subsidiaryM['address1'] }}
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5">
                        Financial control (%)
                    </div>
                    <div class="col-sm-6 fw-bold">
                        {{ subsidiaryM['financialControlPct'] }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5">
                        State
                    </div>
                    <div class="col-sm-6 fw-bold">
                        {{ subsidiaryM['stateName'] }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5">
                        Operational control (%)
                    </div>
                    <div class="col-sm-6 fw-bold">
                        {{ subsidiaryM['operationalControlPct'] }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-3 pb-1">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5">
                        Country
                    </div>
                    <div class="col-sm-6 fw-bold">
                        {{ subsidiaryM['countryName'] }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5">
                        Equity control (%)
                    </div>
                    <div class="col-sm-6 fw-bold">
                        {{ subsidiaryM['equityControlPct'] }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5">
                        Status
                    </div>
                    <div class="col-sm-6 fw-bold"
                        [ngClass]="{'textActiveStatus': subsidiaryM['status'] == 'ACTIVE', 'textRequestedStatus': subsidiaryM['status'] == 'REQUESTED', 'textInActiveStatus': subsidiaryM['status'] == 'REJECTED'}">
                        {{ subsidiaryM['status'] | titlecase}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>