.recordID {
    min-width: 125px;
    text-align: center;
}

.name {
    min-width: 175px;
}

.date {
    min-width: 155px;
}

.supplier {
    min-width: 175px;
}

.amount {
    min-width: 155px;
    
}
.emissions{
    min-width: 125px;  
    text-align: right;
}

.doc{
    text-align: center;
}

