.imgWidth{
    width: 30vw;
}

.logoImg {
    position: relative;
	border-color: rgb(255, 253, 253) !important;
    width: 25px;
    margin-left: -10px;
    transition: transform .25s;
}

.circleBtn {
    background-color: lightgray;
    height: 29px;
    width: 29px;
    font-size: 9px;
    font-weight: bold;
}

.profileImg {
	border-color: rgb(252, 252, 252) !important;
    width: 25px;
    height: 25px;
}

.boderColor {
    border-color: rgb(168, 165, 165) !important;
}


