.iconSize {
    width: 20px;
    height: 20px;
}

.disabled-link {
    color: gray;
    pointer-events: none;
    text-decoration: none;
}

.verifiedIcon {
    color: rgb(79, 200, 79);
}

.img-width {
    max-width: 400px;
}