.content {
    font-family: Roboto, "Helvetica Neue", sans-serif;

    .profileImgContainer {
        width: 90px;
        min-height: 60px;
        max-height: auto;
        float: left;
        margin: 3px;
        padding: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profileImg {
        width: 90px;
    }

    .mat-cell,
    .mat-header-cell {
        border: none !important;
    }
}