<mat-card class="cardOverwrite border">
    <div class="cardTitle pb-2">Activity Data</div>
    <form [formGroup]="activityDataFG">
        <ng-container formArrayName="activityData">
            <ng-container *ngFor="let activityData of activityDataFA.controls; let i = index">
                <ng-container [formGroupName]="i">
                    <div class="row">
                        <div class="col-sm-8">
                            <lib-date-input class="cursorPointer" #customDateInput
                                (emitFilter)="dateInpChange(activityData, i)" [materialFieldWidthInp]="true"
                                [materialFormFieldAppearanceInp]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE"
                                [isMandatoryFieldInp]="true" [dateInputTypeInp]="DateInputTypeEnum.CUSTOM_INPUT"
                                [cdrFormatInp]="DateFormatEnum.DD_MMM_YYYY" [labelInp]="'Accounting Period'">
                            </lib-date-input>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-5">
                            <mat-form-field class="matFieldWidth100"
                                [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE"
                                floatPlaceholder="never">
                                <mat-label class="formLabel">
                                    Quantity of
                                    {{ activityKeyID == ActivityKeyIDEnum.PROCESS_ELECTRICITY_CONSUMPTION
                                    ? 'electricity' : 'heat' }} consumed
                                </mat-label>
                                <input class="formPlaceholder" type="number" placeholder="0.00" matInput
                                    formControlName="energyConsumed" min="0" required />
                                <mat-error *ngIf="errorHandlingFA(activityData, 'energyConsumed', 'min')">
                                    {{ FormErrorEnum.NEGATIVE }}
                                </mat-error>
                                <mat-error *ngIf="errorHandlingFA(activityData, 'energyConsumed', 'required')">
                                    {{ FormErrorEnum.REQUIRED }}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-3">
                            <mat-form-field class="matFieldWidth100"
                                [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                <mat-label class="formLabel">Select Unit</mat-label>
                                <mat-select formControlName="energyConsumedUnitID">
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="unitSelectSearch.filterFC"
                                            placeholderLabel="Search by unit name"
                                            [noEntriesFoundLabel]="COMMON_CONSTANT.NO_MATCH_FOUND">
                                        </ngx-mat-select-search>
                                    </mat-option>

                                    <mat-option *ngFor="let unit of unitSelectSearch.filteredEntities | async"
                                        [value]="unit.id">
                                        {{ unit.name }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="errorHandlingFA(activityData, 'energyConsumedUnitID', 'required')">
                                    {{ FormErrorEnum.REQUIRED }}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <ng-container *ngIf="activityData.get('docPath').value == null">
                            <div class="row">
                                <div class="col-sm-8 fileInput">
                                    <input class="form-control" type="file" accept="application/pdf" #fileInput
                                        (change)="fileUpload($event, activityData, i)">
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-sm-8">
                                    <div class="border rounded d-flex" [ngClass]="{'d-none': (docFileList[i] == null)}">

                                        <div class="p-1">
                                            <ng-container *ngTemplateOutlet="docImg"></ng-container>
                                        </div>

                                        <div class="p-1">
                                            <div class="centerAlignVertical p-1">
                                                {{ activityData.get('docName').value }} <br>
                                                {{ activityData.get('docSize').value }}
                                            </div>
                                        </div>

                                        <div class="ms-auto p-1">
                                            <button type="button" class="btn p-1" mat-icon-button
                                                (click)="removeFile(activityData, i)">
                                                <span class="material-symbols-outlined text-danger">
                                                    delete
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="activityData.get('docPath').value != null">
                            <div class="row pt-2">
                                <div class="col-sm-8">
                                    <div class="border rounded d-flex">

                                        <ng-container *ngTemplateOutlet="docImg"></ng-container>

                                        <div class="p-1">
                                            <div class="centerAlignVertical p-3">
                                                <a href="{{activityData.get('docPath').value}}" target="_blank"
                                                    [ngClass]="{'d-none': !activityData.get('docPath').value}">
                                                    {{ activityData.get('docName').value }}
                                                </a>
                                            </div>
                                        </div>

                                        <div class="ms-auto centerAlignVertical p-2">
                                            <button type="button" class="btn p-1" mat-icon-button matTooltip="Edit"
                                                matTooltipClass="nameTooltip" matTooltipPosition="below"
                                                (click)="fileInput.click()">
                                                <span
                                                    class="material-symbols-outlined text-primary updateIconHover fs-5">
                                                    edit
                                                </span>
                                            </button>
                                            <input class="form-control" type="file" accept="application/pdf" #fileInput
                                                (change)="fileUpload($event, activityData, i)" style="display: none;">

                                            <button type="button" class="btn p-1" mat-icon-button matTooltip="Delete"
                                                matTooltipClass="nameTooltip" matTooltipPosition="below"
                                                (click)="deleteConfirmation(activityData, i)">
                                                <span class="material-symbols-outlined text-danger">
                                                    delete
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </form>
</mat-card>

<ng-template #docImg>
    <div class="p-1">
        <div class="docIcon p-1" matSuffix mat-icon-button mat-raised-button [matTooltip]="billFileName"
            matTooltipPosition="below">
            <img height="40px" src="assets/images/default-doc.ico" alt="bill document preview">
        </div>
    </div>
</ng-template>