<ng-container *ngIf="activityConfig">
    <mat-card class="border cardOverwrite">
        <ng-container *ngTemplateOutlet="labelValue; context: {
                        label: 'Process',
                        value: activityConfig.activityConfigData.processName,
                        class: 'pt-1'
                    }">
        </ng-container>

        <ng-container *ngTemplateOutlet="labelValue; context: {
                        label: 'Precursor',
                        value: getProductList(activityConfig.activityConfigData.product),
                        class: 'pt-3'
                    }">
        </ng-container>

        <ng-container *ngTemplateOutlet="labelValue; context: {
                        label: 'Precursor Source',
                        value: activityConfig.activityConfigData.inputOutputSource.name,
                        class: 'pt-3'
                    }">
        </ng-container>

        <ng-container *ngIf="activityConfig.activityConfigData.inputOutputSource.id == 16">
            <!-- <ng-container *ngTemplateOutlet="labelValue; context: {
                                        label: 'Supplier',
                                        value: selectedSupplier.supplierName,
                                        class: 'pt-3'
                                    }">
            </ng-container> -->
        </ng-container>

        <ng-container *ngTemplateOutlet="labelValue; context: {
                        label: 'Entered data using',
                        value: activityConfig.activityConfigData.dataInputMethodStdKeyID,
                        class: 'pt-3'
                    }">
        </ng-container>

        <ng-container *ngIf="activityConfig.activityConfigData.dataInputMethodStdKeyID == DataInputMethodKeyIDEnum.METER_READING">
            <ng-container *ngTemplateOutlet="labelValue; context: {
                                    label: 'Meter rollover value',
                                    value: activityConfig.activityConfigData.meterRolloverValue, 
                                    class: 'pt-3'
                                }">
            </ng-container>
            <ng-container *ngTemplateOutlet="labelValue; context: {
                                    label: 'Meter unit ',
                                    value: activityConfig.activityConfigData.meterRolloverValue, 
                                    class: 'pt-3'
                                }">
            </ng-container>
        </ng-container>
    </mat-card>
</ng-container>

<ng-template #labelValue let-label="label" let-value="value" let-class="class" let-valueClass="valueClass">
    <div class="row" [class]="class">
        <div class="col-sm-4">
            {{ label }}
        </div>
        <div class="col-sm-8 fw-bold" [class]="valueClass">
            {{ value ? value : COMMON_CONSTANT.HYPHEN }}
        </div>
    </div>
</ng-template>