.columnWidth {
    width: 17%;
}

.custom-not-allowed {
	cursor: not-allowed;
}

.circleBtn {
    background-color: lightgray;
   height: 29px;
   width: 29px;
   font-size: 9px;
   font-weight: bold;
}