.col-recordID{
    min-width: 140px;
}

.col-date{
    min-width: 180px;
}

.col-gas{
    min-width: 100px;
}

.col-gasQuantity{
    min-width: 100px;
}

.col-purchaseType{
    min-width: 180px;
}

.col-doc{
    min-width: 80px;
}

.col-note{
    min-width: 5px;
}