<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
</svg>

<div class="card main-card cardOverwrite textFont">
    <div class="headerContainer p-0">
        <div class="col-sm-11">
            <div class="pageTitle">
                <ng-container>
                    {{ 'Edit SBTi Setting?' }}
                </ng-container>
            </div>
        </div>
        <div class="col-sm-1 mb-auto">
            <button mat-icon-button mat-dialog-close cdkFocusInitial class="float-end matDialogClose" matTooltip="Close"
                matTooltipPosition="before">
                <span class="material-symbols-outlined">
                    close
                </span>
            </button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 mb-2">
            <span> You currently have two science based targets set for your organization.</span>

        </div>
        <div class="col-sm-12" *ngFor="let target of targetList; let i = index">
            {{i+1}} {{'.'}} {{target}}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12 mb-3">
            <span>Updating SBTi setting will automatically mark the existing targets as inactive and create
                new targets with the following changes-</span>
        </div>

        <div *ngFor="let data of dataArray; let i = index">
            <div class="card main-card cardOverwrite backgroundColor mb-4">
                <div class="card-body">
                    <div class="row ms-2">
                        <ng-container *ngTemplateOutlet="status; 
                                                context:{ 
                                                    status: data['current']['targetStatus']
                                                }">
                        </ng-container>
                    
                        <ng-container *ngTemplateOutlet="status; 
                                                context:{ 
                                                    status: data['afterChanges']['targetStatus']
                                                }">
                        </ng-container>
                    </div>

                    <div class="row ms-2">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-8">
                                    <strong class="me-1">{{ data['targetName'] }}</strong>
                                </div>

                                <div class="col-sm-2">
                                    <span class="material-symbols-outlined iconFont">
                                        arrow_right_alt
                                    </span>
                                </div>
                            </div>
                        </div>

                        <ng-container *ngTemplateOutlet="bold; 
                                            context:{ 
                                                value: data['targetName'] 
                                            }">
                        </ng-container>
                    </div>

                    <div class="row mt-2 ms-2">
                        <ng-container *ngTemplateOutlet="value; 
                                    context:{ 
                                        title: '', 
                                        value: data['targetOption']
                                    }">
                        </ng-container>
                        <ng-container *ngTemplateOutlet="value; 
                                context:{ 
                                    title: '', 
                                    value:data['targetOption']
                                }">
                        </ng-container>


                    </div>

                    <div class="row ms-2">
                        <ng-container *ngTemplateOutlet="value; 
                                    context:{ 
                                        title: 'Target year :', 
                                        value: data['targetYear']
                                    }">
                        </ng-container>
                        <ng-container *ngTemplateOutlet="value; 
                                context:{ 
                                    title: 'Target year :', 
                                    value: data['targetYear']
                                }">
                        </ng-container>
                    </div>

                    <div class="row ms-2">
                        <ng-container *ngTemplateOutlet="value; 
                                    context:{ 
                                        title: 'Target year emission :', 
                                        value: data['current']['targetYearEmission']
                                    }">
                        </ng-container>
                        <ng-container *ngTemplateOutlet="value; 
                                context:{ 
                                    title: 'Target year emission :', 
                                    value: data['afterChanges']['targetYearEmission'] 
                                }">
                        </ng-container>
                    </div>

                    <div class="row ms-2">
                        <ng-container *ngTemplateOutlet="value; 
                                    context:{ 
                                        title: 'Total target reduction :', 
                                        value: data['totalTargetReduction'] 
                                    }">
                        </ng-container>
                        <ng-container *ngTemplateOutlet="value; 
                                context:{ 
                                    title: 'Total target reduction :', 
                                    value: data['totalTargetReduction']
                                }">
                        </ng-container>
                    </div>

                    <div class="row ms-2">
                        <ng-container *ngTemplateOutlet="value; 
                                    context:{ 
                                        title: 'Annual target reduction :', 
                                        value: data['current']['annualTargetReduction']
                                    }">
                        </ng-container>
                        <ng-container *ngTemplateOutlet="value; 
                                context:{ 
                                    title: 'Annual target reduction :', 
                                    value: data['afterChanges']['annualTargetReduction']
                                }">
                        </ng-container>
                    </div>

                    <div class="row ms-2">
                        <ng-container *ngTemplateOutlet="value; 
                                context:{ 
                                    title: 'Current year reduction :', 
                                    value: data['current']['currentYearReduction']
                                }">
                        </ng-container>
                        <ng-container *ngTemplateOutlet="value; 
                            context:{ 
                                title: 'Current year reduction :', 
                                value: data['afterChanges']['currentYearReduction'] 
                            }">
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-primary centerAlignVertical roundedBorder ms-1">
            <svg class="bi flex-shrink-0 me-3 extraInfoCardIcon">
                <use xlink:href="#info-fill" />
            </svg>
            <div class="extraInfoCardText textFont">
                Note- Any changes to SBTi base year emissions have to be reported to SBTi and verified targets have to
                be
                re-submitted for evaluation based on new calculations.
            </div>
        </div>

        <div class="mt-3">
            <div class="row">
                <div class="col-sm-12">
                    <strong>Are you sure you want to edit SBTi base year emissions?</strong>
                    <div class="float-end">
                        <button type="button" class="btn btn-success" (click)="createTarget()">
                            {{ 'Yes, create new targets' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <ng-template #value let-title="title" let-value="value">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <span class="">{{ title}} {{ value ? value : COMMON_CONSTANT.HYPHEN}}</span>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #bold let-value="value">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <strong class="me-2">{{ value}}</strong>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #status let-status="status">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <ng-container [ngSwitch]="status">
                        <span *ngSwitchCase="StatusEnum.VERIFIED" class="textActiveStatus">
                            SBTi verified
                        </span>
                        <span *ngSwitchCase="StatusEnum.PENDING" class="textPendingStatus">
                            Pending SBTi verification
                        </span>
                        <span *ngSwitchDefault>
                            {{ status }}
                        </span>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-template>