.col-recordID{
    min-width: 100px;
}

.col-date{
    min-width: 120px;
}

.col-gas{
    max-width: 100px;
}

.col-gasQuantity{
    max-width: 100px;
}

.col-doc{
    min-width: 50px;
}

.col-note{
    min-width: 5px;
}