.columnWidth1 {
    min-width: 120px;
}

.columnWidth2 {
    min-width: 140px;
}

.columnWidth3 {
    min-width: 100px;
}

.columnWidth4 {
    min-width: 90px;
}

.columnWidth5 {
    min-width: 160px;
}

.badge {
    text-transform: none;
}
.textActiveStatus {
    color: rgb(79, 200, 79);
}

.textInActiveStatus {
    color: rgb(255, 31, 31);
}
