<mat-card class="mt-2 cardOverwrite border">
    <form [formGroup]="activityDataFG">
        <ng-container formArrayName="activityData">
            <ng-container *ngFor="let activityData of activityDataFA.controls; let i = index;">
                <mat-card class="border cardOverwrite my-1">
                    <ng-container [formGroupName]="i">
                        <div class="row">
                            <div class="col-sm-4 mb-3">
                                Product name:
                                <span class="cardTitle pb-2"> {{ activityData.get('sourceName').value }} </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-8">
                                <lib-date-input class="cursorPointer" #customDateInput (emitFilter)="dateInpChange(i)"
                                    [materialFieldWidthInp]="true"
                                    [materialFormFieldAppearanceInp]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE"
                                    [isMandatoryFieldInp]="errorHandlingFA(activityData, 'startDate', 'required') && activityData.get('startDate').touched"
                                    [dateInputTypeInp]="DateInputTypeEnum.CUSTOM_INPUT" [labelInp]="'Accounting period'"
                                    [cdrFormatInp]="DateFormatEnum.DD_MMM_YYYY"></lib-date-input>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <mat-form-field class="matFieldWidth100"
                                            [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                            <mat-label class="formLabel">Share of emissions covered by the carbon price
                                            </mat-label>
                                            <input matInput type="number" min="0"
                                                formControlName="dueCarbonPriceEmission">
                                            <mat-error
                                                *ngIf="errorHandlingFA(activityData, 'dueCarbonPriceEmission', 'required')">
                                                {{ FormErrorEnum.REQUIRED }}
                                            </mat-error>
                                            <mat-error
                                                *ngIf="errorHandlingFA(activityData, 'dueCarbonPriceEmission', 'min')">
                                                {{ FormErrorEnum.NEGATIVE }}
                                            </mat-error>
                                            <span matSuffix class="material-symbols-outlined fs-4 cursorPointer"
                                                matTooltipPosition="above" matTooltipClass="infoTooltip"
                                                matTooltip="Please enter here the share of the TOTAL (direct + indirect) specific emissions that are subject to carbon pricing. For instance, if only direct emissions are covered by a carbon pricing system, the share to be provided here would be exactly the share of the direct emissions of the total emissions.">
                                                info
                                            </span>
                                        </mat-form-field>
                                    </div>

                                    <!-- <div class="col-sm-1 pt-3">
                                        <span class="material-symbols-outlined fs-4 cursorPointer" matTooltipPosition="above"
                                            matTooltipClass="infoTooltip"
                                            matTooltip="Please enter here the share of the TOTAL (direct + indirect) specific emissions that are subject to carbon pricing. For instance, if only direct emissions are covered by a carbon pricing system, the share to be provided here would be exactly the share of the direct emissions of the total emissions.">
                                            info
                                        </span>
                                    </div> -->

                                    <div class="col-sm-6">
                                        <mat-form-field class="matFieldWidth100"
                                            [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                            <mat-label class="formLabel">Select emissions covered unit</mat-label>
                                            <mat-select formControlName="dueCarbonPriceEmissionUnitID">
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="unitFiltered.filterFC"
                                                        placeholderLabel="Search by unit name"
                                                        [noEntriesFoundLabel]="COMMON_CONSTANT.NO_MATCH_FOUND">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option *ngFor="let unit of unitFiltered.filteredEntities | async"
                                                    [value]="unit.id">
                                                    <span class="d-flex justify-content-between">{{unit.name}} -
                                                        {{unit.uomCode}}</span>
                                                </mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="errorHandlingFA(activityData, 'dueCarbonPriceEmissionUnitID', 'required')">
                                                {{ FormErrorEnum.REQUIRED }}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <mat-form-field class="matFieldWidth100"
                                            [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                            <mat-label class="formLabel">Select Currency</mat-label>
                                            <mat-select formControlName="currencyID">
                                                <mat-option>
                                                    <ngx-mat-select-search
                                                        [formControl]="currencyTypeSearchUtil.filterFC"
                                                        placeholderLabel="Search by currency name"
                                                        [noEntriesFoundLabel]="COMMON_CONSTANT.NO_MATCH_FOUND">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option
                                                    *ngFor="let currency of currencyTypeSearchUtil.filteredEntities| async"
                                                    [value]="currency.currencyID"
                                                    (click)="currencySign = currency.currencySymbol">
                                                    {{ currency.currencyName }} -
                                                    {{currency.currencySymbol}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="errorHandlingFA(activityData, 'currencyID', 'required')">
                                                {{ FormErrorEnum.REQUIRED }}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-4">
                                        <mat-form-field class="matFieldWidth100"
                                            [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                            <mat-label class="formLabel">Carbon price (CP) due</mat-label>
                                            <input matInput type="number" min="0" formControlName="dueCarbonPriceValue">
                                            <mat-error
                                                *ngIf="errorHandlingFA(activityData, 'dueCarbonPriceValue', 'required')">
                                                {{ FormErrorEnum.REQUIRED }}
                                            </mat-error>
                                            <mat-error
                                                *ngIf="errorHandlingFA(activityData, 'dueCarbonPriceValue', 'min')">
                                                {{ FormErrorEnum.NEGATIVE }}
                                            </mat-error>
                                            <span matPrefix> {{ currencySign }} &nbsp; </span>
                                            <span matSuffix class="material-symbols-outlined fs-4 cursorPointer"
                                                matTooltipPosition="above" matTooltipClass="infoTooltip"
                                                matTooltip="Please enter here the carbon price due per tonne of CO2e in the relevant currency. This value shall not include any rebate such as free allocation or financial compensation. It shall also not include any carbon price due for any precursors outside the production process to avoid double counting.">
                                                info
                                            </span>
                                        </mat-form-field>
                                    </div>

                                    <!-- <div class="col-sm-1 pt-3">
                                        <span class="material-symbols-outlined fs-4 cursorPointer" matTooltipPosition="above"
                                            matTooltipClass="infoTooltip"
                                            matTooltip="Please enter here the carbon price due per tonne of CO2e in the relevant currency. This value shall not include any rebate such as free allocation or financial compensation. It shall also not include any carbon price due for any precursors outside the production process to avoid double counting.">
                                            info
                                        </span>
                                    </div> -->

                                    <div class="col-sm-4">
                                        <mat-form-field class="matFieldWidth100"
                                            [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                            <mat-label class="formLabel">Amount of rebate</mat-label>
                                            <input matInput type="number" formControlName="rebate" min="0">
                                            <mat-error *ngIf="errorHandlingFA(activityData, 'rebate', 'required')">
                                                {{ FormErrorEnum.REQUIRED }}
                                            </mat-error>
                                            <mat-error *ngIf="errorHandlingFA(activityData, 'rebate', 'min')">
                                                {{ FormErrorEnum.NEGATIVE }}
                                            </mat-error>
                                            <span matPrefix> {{ currencySign }} &nbsp; </span>
                                            <span matSuffix class="material-symbols-outlined fs-4 cursorPointer"
                                                matTooltipPosition="above" matTooltipClass="infoTooltip"
                                                matTooltip="Please enter here the rebate per tonne of CO2e covered by the rebate in the relevant currency. It shall also not include any rebate for any precursors outside the production process to avoid double counting.">
                                                info
                                            </span>
                                        </mat-form-field>
                                    </div>

                                    <!-- <div class="col-sm-1 pt-3">
                                        <span class="material-symbols-outlined fs-4 cursorPointer" matTooltipPosition="above"
                                            matTooltipClass="infoTooltip"
                                            matTooltip="Please enter here the rebate per tonne of CO2e covered by the rebate in the relevant currency. It shall also not include any rebate for any precursors outside the production process to avoid double counting.">
                                            info
                                        </span>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        <!-- document -->
                        <ng-container *ngIf="activityData.get('docPath').value == null">
                            <div class="row pt-2">
                                <div class="col-sm-8 fileInput">
                                    <input class="form-control" type="file"
                                        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                        #fileInput (change)="fileUpload($event, i)">
                                </div>
                            </div>

                            <div class="row pt-2">
                                <div class="col-sm-8">
                                    <div class="border rounded d-flex" [ngClass]="{'d-none': (docFileList[i] == null)}">
                                        <div class="p-1">
                                            <ng-container *ngTemplateOutlet="docImg"></ng-container>
                                        </div>

                                        <div class="p-1">
                                            <div class="centerAlignVertical p-1">
                                                {{activityData.get('docName').value}} <br>
                                                {{activityData.get('docSize').value}}
                                            </div>
                                        </div>

                                        <div class="ms-auto p-1">
                                            <button type="button" class="btn p-1" mat-icon-button
                                                (click)="removeFile(i)">
                                                <span class="material-symbols-outlined text-danger">
                                                    delete
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                        <ng-conatiner *ngIf="activityData.get('docPath').value != null">
                            <div class="row pt-2">
                                <div class="col-sm-8">
                                    <div class="border rounded d-flex">

                                        <ng-container *ngTemplateOutlet="docImg"></ng-container>

                                        <div class="p-1">
                                            <div class="centerAlignVertical p-3">
                                                <a href="{{activityData.get('docPath').value}}" target="_blank"
                                                    [ngClass]="{'d-none': !activityData.get('docPath').value}">
                                                    {{activityData.get('docName').value}}
                                                </a>
                                            </div>
                                        </div>

                                        <div class="ms-auto p-1">
                                            <button type="button" class="btn p-1" mat-icon-button matTooltip="Edit"
                                                matTooltipClass="nameTooltip" matTooltipPosition="below"
                                                (click)="fileInput.click()">
                                                <span
                                                    class="material-symbols-outlined text-primary updateIconHover fs-5">
                                                    edit
                                                </span>
                                            </button>
                                            <input class="form-control" type="file"
                                                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                                #fileInput (change)="fileUpload($event, i)" style="display: none;">
                                            <button type="button" class="btn p-1" mat-icon-button matTooltip="Delete"
                                                matTooltipClass="nameTooltip" matTooltipPosition="below"
                                                (click)="deleteConfirmation(activityData, i)">
                                                <span class="material-symbols-outlined text-danger">
                                                    delete
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-conatiner>
                    </ng-container>
                </mat-card>
            </ng-container>
        </ng-container>

    </form>
</mat-card>


<ng-template #docImg>
    <div class="p-1">
        <div class="docIcon p-1" matSuffix mat-icon-button mat-raised-button [matTooltip]="billFileName"
            matTooltipPosition="below">
            <img height="40px" src="assets/images/default-doc.ico" alt="bill document preview">
        </div>
    </div>
</ng-template>