<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
</svg>
<div *ngIf="showInfo" class="mb-2 ms-2">
    <div class="alert alert-primary centerAlignVertical roundedBorder d-inline-flex p-2 me-2">
        <svg class="alertIcon bi flex-shrink-0">
            <use xlink:href="#info-fill" />
        </svg>
        <div class="extraInfoCardText px-3">
            At least one record must be filled from scope 1, scope 2.
            <button type="button" class="btn" (click)="showInfo = false;">
                <span class="material-symbols-outlined fw-bold">
                    close
                </span>
            </button>
        </div>
    </div>
</div>
<form [formGroup]="activityEmissionDataFG">
    <table class="table">
        <thead class="tableRowBgColor theadStickyOverwrite">
            <tr>
                <td class="fw-bold columnWidth1">Scope</td>
                <td class="fw-bold columnWidth2">Activity type</td>
                <td class="fw-bold" *ngIf="operationalControlApproachDisplay"> Operational control approach <span>(tCO<sub>2</sub>e)</span>
                </td>
                <td class="fw-bold" *ngIf="financialControlApproachDisplay"> Financial control approach <span>(tCO<sub>2</sub>e)</span></td>
                <td class="fw-bold" *ngIf="equityShareApproachDisplay"> Equity control approach <span>(tCO<sub>2</sub>e)</span></td>
            </tr>
        </thead>
        <tbody formArrayName="emissionRecords">
            <tr *ngFor="let emissionGroup of getEmissionRecord().controls; let i = index">
                <ng-container [formGroupName]="i">
                    <td>{{ emissionGroup.get('scope').value }}</td>
                    <td>{{ emissionGroup.get('activityName').value }}</td>
                    <ng-container *ngIf="operationalControlApproachDisplay">
                        <ng-container formGroupName="operationalControlApproach">
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="col-sm-4">
                                        <mat-form-field class="matFieldWidth100"
                                            [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                            <mat-label class="formLabel"> Enter emission <span>(tCO<sub>2</sub>e)</span></mat-label>
                                            <input matInput type="number" [min]="0"
                                                [formControl]="emissionGroup.get('operationalControlApproach').get('emission')"
                                                #input>
                                            <mat-error
                                                *ngIf="emissionGroup.get('operationalControlApproach').get('emission').hasError('min')">This
                                                field
                                                cannot
                                                be negative</mat-error>
                                            <mat-error
                                                *ngIf="emissionGroup.get('operationalControlApproach').get('emission').hasError('required')">
                                                Enter emission
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="ms-2 col-sm-4">
                                        <mat-form-field class="matFieldWidth100"
                                            [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                            <mat-label class="formLabel"> Enter biogenic emission
                                                <span>(tCO<sub>2</sub>e)</span></mat-label>
                                            <input matInput type="number" [min]="0"
                                                [formControl]="emissionGroup.get('operationalControlApproach').get('biogenicEmission')"
                                                #input>
                                            <mat-error
                                                *ngIf="emissionGroup.get('operationalControlApproach').get('biogenicEmission').hasError('min')">This
                                                field
                                                cannot
                                                be negative</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="financialControlApproachDisplay">
                        <ng-container formGroupName="financialControlApproach">
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="col-sm-4">
                                        <mat-form-field class="matFieldWidth100"
                                            [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                            <mat-label class="formLabel"> Enter emission <span>(tCO<sub>2</sub>e)</span></mat-label>
                                            <input matInput type="number" [min]="0"
                                                [formControl]="emissionGroup.get('financialControlApproach').get('emission')"
                                                #input>
                                            <mat-error
                                                *ngIf="emissionGroup.get('financialControlApproach').get('emission').hasError('min')">This
                                                field
                                                cannot
                                                be negative</mat-error>
                                            <mat-error
                                                *ngIf="emissionGroup.get('financialControlApproach').get('emission').hasError('required')">
                                                Enter emission
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="ms-2 col-sm-4">
                                        <mat-form-field class="matFieldWidth100"
                                            [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                            <mat-label class="formLabel"> Enter biogenic emission
                                                <span>(tCO<sub>2</sub>e)</span></mat-label>
                                            <input matInput type="number" [min]="0"
                                                [formControl]="emissionGroup.get('financialControlApproach').get('biogenicEmission')"
                                                #input>
                                            <mat-error
                                                *ngIf="emissionGroup.get('financialControlApproach').get('biogenicEmission').hasError('min')">This
                                                field
                                                cannot
                                                be negative</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="equityShareApproachDisplay">
                        <ng-container formGroupName="equityShareApproach">
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="col-sm-4">
                                        <mat-form-field class="matFieldWidth100"
                                            [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                            <mat-label class="formLabel"> Enter emission <span>(tCO<sub>2</sub>e)</span></mat-label>
                                            <input matInput type="number" [min]="0"
                                                [formControl]="emissionGroup.get('equityShareApproach').get('emission')"
                                                #input>
                                            <mat-error
                                                *ngIf="emissionGroup.get('equityShareApproach').get('emission').hasError('min')">This
                                                field
                                                cannot
                                                be negative</mat-error>
                                            <mat-error
                                                *ngIf="emissionGroup.get('equityShareApproach').get('emission').hasError('required')">
                                                Enter emission
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="ms-2 col-sm-4">
                                        <mat-form-field class="matFieldWidth100"
                                            [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                            <mat-label class="formLabel"> Enter biogenic emission
                                                <span>(tCO<sub>2</sub>e)</span></mat-label>
                                            <input matInput type="number" [min]="0"
                                                [formControl]="emissionGroup.get('equityShareApproach').get('biogenicEmission')"
                                                #input>
                                            <mat-error
                                                *ngIf="emissionGroup.get('equityShareApproach').get('biogenicEmission').hasError('min')">This
                                                field
                                                cannot
                                                be negative</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </tr>
        </tbody>
    </table>
</form>