table {
    width: 100%;
}

.recordID {
    min-width: 100px;
}

.accountingPeriod {
    min-width: 200px;
}

.asset {
    min-width: 150px;
}

.fuelName {
    min-width: 120px;
}

.fuelConsumed {
    min-width: 120px;
}

.energyConsumed {
    min-width: 150px;
}

.activityInputMethod {
    min-width: 190px;
}

.emission {
    min-width: 170px;
}

.img {
    width: 25px;
}

.noError {
    padding-left: 28px;
}