// page layout var
$pageLayoutHeaderHeight: 60px;
$pageLayoutFooterHeight: 60px;
$pageLayoutSpace: 40px;

// pages layout
.appPagesMainOuter {
    background-color: #f1f3f6;
    position: relative;
    min-height: 100vh;
}

.appPagesMainInner {
    padding-top: $pageLayoutSpace;
    padding-bottom: $pageLayoutSpace;
}

.appPagesLayoutMain {
    min-height: calc(100vh - #{$pageLayoutSpace * 2});
}

.forgotPasswordImg {
    max-width: 95%;
    max-height: 500px;
}

.logo-img {
    height: 46px;
    width: auto;
}