<div class="container">
    <div class="card main-card appPagesLayoutMain d-flex justify-content-center cardOverwrite">
        <div class="row">
            <div class="col-sm-6 px-5 py-5 centerAlign">
                <img class="forgotPasswordImg" src="/assets/images/forgot-password.jpg" alt="Forgot Password" />
            </div>

            <div class="col-sm-6 px-5 py-5 centerAlign text-center">
                <mat-card class="mat-elevation-z0 border rounded-3 w-100">
                    <div class="card-body">

                        <img class="logo-img mb-3" src="/assets/images/tsc-logo-png.png">

                        <div class="pb-3">
                            <h4>
                                Reset Password
                            </h4>
                        </div>

                        <form [formGroup]="forgotPasswordFG" (ngSubmit)="forgotPassword()">
                            <mat-form-field class="matFieldWidth100"
                                [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                <mat-label>Enter registered email</mat-label>
                                <input matInput type="email" placeholder="example@domain.com" formControlName="email" />
                                <mat-error *ngIf="errorHandling('email', 'required')">
                                    Email can't be left empty.
                                </mat-error>
                                <mat-error *ngIf="errorHandling('email', 'email')">
                                    Please enter valid email
                                </mat-error>
                            </mat-form-field>

                            <div class="row mb-3">
                                <div class="col-sm-12">
                                    <div class="float-end">
                                        <a class="btn btn-link" routerLink="/login">
                                            Back to Login
                                        </a>
                                        <button type="submit" class="btn btn-success" matRipple
                                            [matRippleCentered]="MATERIAL_CONSTANT.MAT_RIPPLE_CENTER">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="divider mt-0"></div>

                        <div>
                            <a class="btn btn-link text-secondary font-size-2" [href]="COMMON_CONSTANT.PRIVACY"
                                target="_blank">Privacy</a>
                            <a class="btn btn-link text-secondary font-size-2" [href]="COMMON_CONSTANT.TERMS"
                                target="_blank">Terms</a>
                            <!-- <a class="btn btn-link text-secondary font-size-2" target="_blank" href="http://www.freepik.com">Image by Freepik</a> -->
                        </div>
                        <div class="font-size-1">
                            Copyright © LogicLadder
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>