<mat-card class="cardOverwrite border">
    <div class="cardTitle pb-2"> Details </div>
    <form [formGroup]="activityConfigFG">
        
        <div formGroupName="activityConfig" class="row">
            <div class="col-sm-6">
                <mat-form-field class="matFieldWidth100"
                    [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                    <mat-label class="formLabel">Activity form name</mat-label>
                    <input formControlName="configName" type="text" matInput required>
                    <mat-error *ngIf="errorHandling('activityConfig.configName', 'required')">
                        {{ formErrorEnum.REQUIRED }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div formGroupName="activityConfigData">
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field class="matFieldWidth100"
                        [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                        <mat-label class="formLabel">Select process</mat-label>
                        <mat-select formControlName="processID" required
                            (selectionChange)="getProcessByID(currentOrgID, $event.value)">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="processSearchUtil.filterFC"
                                    placeholderLabel="Search by process name"
                                    noEntriesFoundLabel="No matching name found.">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let process of processSearchUtil.filteredEntities | async"
                                [value]="process.id">
                                <span class="d-flex justify-content-between">
                                    {{ process.name }}
                                </span>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="errorHandling('activityConfigData.processID', 'required')">
                            {{ formErrorEnum.REQUIRED }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-sm-4">
                    Co-product
                </div>
                <div class="col-sm-8 fw-bold">
                    <li *ngIf="productName.length == 0">--</li>
                    <li *ngFor="let name of productName">{{ name ? name : COMMON_CONSTANT.HYPHEN }}</li>
                </div>
            </div>

            <div class="row">
                <mat-label class="formLabel mb-2"> Enter data using*</mat-label>
                <mat-radio-group formControlName="dataInputMethodStdID">
                    <mat-radio-button class="col-sm-3" *ngFor="let input of dataInputMethodList" [value]="input.id"
                        (change)="alterValidatorsForDataInput(input.keyID)">
                        {{ input.name }}
                    </mat-radio-button>
                    <mat-error class="ms-2 mt-2"
                        *ngIf="radioError('activityConfigData.dataInputMethodStdID', 'required')">
                        {{ formErrorEnum.REQUIRED }}
                    </mat-error>
                </mat-radio-group>
            </div>
            
            <div *ngIf="isMeterReading">
                <div class="row mt-3">
                    <div class="col-sm-3">
                        <mat-form-field class="matFieldWidth100"
                            [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                            <mat-label class="formLabel">Meter rollover value</mat-label>
                            <input class="formPlaceholder" matInput min="0" type="number"
                                placeholder="Meter rollover value" formControlName="meterRolloverValue" />
                            <mat-error *ngIf="errorHandling('activityConfigData.meterRolloverValue', 'min')">
                                Reading can't be negative.
                            </mat-error>
                            <mat-error *ngIf="errorHandling('activityConfigData.meterRolloverValue', 'required')">
                                {{ formErrorEnum.REQUIRED }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <mat-form-field class="matFieldWidth100"
                            [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                            <mat-label class="formLabel">Meter unit</mat-label>
                            <mat-select formControlName="meterRolloverUnitID">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="massVolumeUnitSearchUtil.filterFC"
                                        placeholderLabel="Search unit"
                                        noEntriesFoundLabel="No matching name found.">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let unit of massVolumeUnitSearchUtil.filteredEntities | async" [value]="unit.id">
                                    {{ unit.name }} - {{unit.uomCode}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="errorHandling('activityConfigData.meterRolloverUnitID', 'required')">
                                {{ formErrorEnum.REQUIRED }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </form>
</mat-card>