<div class="container-fluid pageFooterWrapper d-flex align-items-center justify-content-between">
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-sm-6">
                    <div class="float-start">
                        <a class="btn btn-link" [href]="COMMON_CONSTANT.PRIVACY" target="_blank">Privacy</a>
                        <a class="btn btn-link" [href]="COMMON_CONSTANT.TERMS" target="_blank">Terms</a>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="float-end text-light pt-2">
                        Copyright © LogicLadder
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
