.height {
    height: 400px;
}

.noData {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;            
    width: 100%;    
    font-size: 200%;
    color: rgb(159, 159, 159);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}