.surveyDecision {
    cursor: pointer;
}

.surveyName {
    min-width: 100px;
    cursor: pointer;
}

.AccStartDate {
    max-width: 140px;
}

.totalEmployee {
    min-width: 120px;
}

.totalEmployeeData {
    padding-left: 65px;
}

.sampleSet {
    min-width: 120px;
}

.status {
    min-width: 120px;
}

.end {
    min-width: 130px;
}

.action {
    min-width: 120px;
}

.img {
    width: 25px;
}
.noError{
    padding-left:28px;
}