<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="check-circle-fill" fill="#6c757d" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
</svg>
<div class="container">
    <div class="card main-card appPagesLayoutMain centerAlignHorizontal cardOverwrite">
        <div class="row">
            <div class="col-sm-6 px-5 py-5 d-flex justify-content-center align-items-center">
                <img class="createPasswordImg" src="/assets/images/create-password.jpg" alt="Set your password" />
            </div>

            <div class="col-sm-6 px-5 py-5 d-flex justify-content-center align-items-center text-center">

                <mat-card class="mat-elevation-z0 border rounded-3 w-100">
                    <div class="card-body">

                        <img class="logo-img mb-3" src="assets/images/tsc-logo-png.png" />
                        <div class="pb-3">
                            <h4>
                                Set your password
                            </h4>
                        </div>
                        <form [formGroup]="createPasswordFG" (ngSubmit)="createPassword()" autocomplete="off">
                            <mat-form-field class="matFieldWidth100"
                                [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                <mat-label>New Password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                                    autocomplete="new-password" required />
                                <button class="text-secondary eyeIcon" type="button" mat-icon-button matSuffix
                                    (click)="hide = !hide">
                                    <mat-icon matIcon>
                                        {{hide ? 'visibility_off' : 'visibility'}}
                                    </mat-icon>
                                </button>
                            </mat-form-field>

                            <mat-form-field class="matFieldWidth100"
                                [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                                <mat-label>Confirm Password</mat-label>
                                <input matInput [type]="confirmHide ? 'password' : 'text'"
                                    formControlName="confirmPassword" autocomplete="new-password" required />
                                <button class="text-secondary eyeIcon" type="button" mat-icon-button matSuffix
                                    (click)="confirmHide = !confirmHide">
                                    <mat-icon matIcon>
                                        {{confirmHide ? 'visibility_off' : 'visibility'}}
                                    </mat-icon>
                                </button>
                                <mat-error *ngIf="errorHandling('confirmPassword', 'passwordMismatch')">
                                    Password mismatch.
                                </mat-error>
                            </mat-form-field>

                            <div class="row">
                                <div class="col-sm-6" *ngFor="let policy of passwordPolicyList">
                                    <div class="d-flex align-items-center mt-2">
                                        <svg *ngIf="!isPasswordPolicyMatch(policy)" fill="#6c757d"
                                            class="check-circle-fill flex-shrink-0 fs-5 dialogHeaderIcon verifiedIcon me-2"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                        </svg>
                                        <svg *ngIf="isPasswordPolicyMatch(policy)" fill="currentColor"
                                            class="check-circle-fill flex-shrink-0 fs-5 dialogHeaderIcon verifiedIcon me-2"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                        </svg>
                                        <span
                                            [ngClass]="{'text-dark': isPasswordPolicyMatch(policy), 'text-secondary': !isPasswordPolicyMatch(policy)}">
                                            {{ policy.name }}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <br /><br />

                            <div class="row mb-3">
                                <div class="col-sm-12">
                                    <div class="float-end">
                                        <button type="submit" class="btn" [ngClass]="{
                                                                'btn-secondary': createPasswordFG.invalid,
                                                                'btn-success': createPasswordFG.valid
                                                                }" [disabled]="createPasswordFG.invalid">
                                            Activate Account
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>