<p>meter reading component</p>
<mat-card class="classOverwrite overflowX  w100">
    <form [formGroup]="activityDataFG">
        <table>
            <thead>
                <tr>
                    <th class="fw-normal ps-4 pb-2">Name</th>
                    <th class="fw-normal ps-4 pb-2">Date Range</th>
                    <th class="fw-normal ps-4 pb-2">Opening meter reading</th>
                    <th class="fw-normal ps-4 pb-2">Closing meter reading</th>
                    <th class="fw-normal ps-4 pb-2">Fuel Consumed Unit</th>
                    <th class="fw-normal ps-4 pb-2">Attach Proof</th>
                </tr>
            </thead>
            <tbody formArrayName="activityDataDetails">
                <tr *ngFor="let activity of activityDataFA.controls; let i=index" [formGroupName]="i">

                    <td class="ps-4 pt-2">
                        <input type="text" formControlName="precursorExported">
                    </td>

                    <td class="ps-4 pt-2">
                        <mat-form-field class="cursorPointer"
                            [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                            <mat-label class="formLabel">Accounting Period</mat-label>
                            <input type="text" matInput ngxDaterangepickerMd
                                [locale]="{direction: 'ltr', applyLabel: 'Apply', format: 'DD-MMM-YYYY'}"
                                [drops]="'down'" [opens]="'right'" [alwaysShowCalendars]="true"
                                [keepCalendarOpeningWithRange]="true" [showDropdowns]="true" [showCancel]="true"
                                autocomplete="off" name="dateRange" formControlName="dateRange" readonly />
                        </mat-form-field>
                    </td>

                    <td class="ps-4 pt-2">
                        <mat-form-field class="pe-2"
                            [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                            <mat-label class="formLabel">Opening meter reading</mat-label>
                            <input matInput type="number" formControlName="meterOpeningReading" placeholder="0.00"
                                min="0">
                            <!-- <mat-error *ngIf="activity.get('meterOpeningReading').hasError('min')">
                                reading can't be negative.
                            </mat-error>
                            <mat-error *ngIf="errorHandling('meterOpeningReading', 'required')">
                                This field is equired
                            </mat-error> -->
                        </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field class="pe-2"
                            [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                            <mat-label class="formLabel">Closing meter reading</mat-label>
                            <input matInput type="number" formControlName="meterClosingReading" placeholder="0.00"
                                min="0">
                            <!-- <mat-error *ngIf="activity.get('meterClosingReading').hasError('min')">
                                reading can't be negative.
                            </mat-error>
                            <mat-error *ngIf="errorHandling('meterClosingReading', 'required')">
                                This field is equired
                            </mat-error> -->
                        </mat-form-field>
                    </td>

                    <td class="ps-4 pt-2">
                        <mat-form-field class="pe-2"
                            [appearance]="MaterialFormFieldAppearance.FORM_FIELD_APPEARANCE">
                            <mat-label class="formLabel">Select unit</mat-label>
                            <mat-select formControlName="fuelConsumedUnitID">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="energyUnitSearchUtil.filterFC"
                                        placeholderLabel="Search by unit name" noEntriesFoundLabel="No matching found.">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let unit of energyUnitSearchUtil.filteredEntities| async"
                                    [value]="unit.id">
                                    {{ unit.name }} -
                                    {{unit.uomCode}}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                unit is required.
                            </mat-error> 
                        </mat-form-field>
                    </td>
                    <td class="ps-4 pt-2 pe-4">
                        <div class="col-sm-4" *ngIf="activity.get('activityDataID').value == null">
                            <div class="row" [ngClass]="{'d-none': !noBillFileAvailable}">
                                <div class="d-flex justify-content-between">
                                    <button class="button btn btn-light uploadBtn" type="button" (click)="uploadDoc()">
                                        Attach
                                    </button>
                                    <input #fileInput type="file" accept="application/pdf" class="d-none" (change)="fileUpload($event)">
                                </div>
                            </div>
                            <div class="border border-2 rounded" [ngClass]="{'d-none': noBillFileAvailable}">
                                <div class="col-sm-3 docIcon" matSuffix mat-icon-button mat-raised-button [matTooltip]="billFileName"
                                    matTooltipPosition="below">
                                    <img height="40px" src="assets/images/default-doc.ico" alt="noc document preview">
                                </div>
                                <div class="col-sm-4 centerAlignVertical uploadDocumentFont">
                                    {{ billFileName }}
                                </div>
                                <div class="col-sm-2 ms-2">
                                    <button type="button" class="btn" mat-icon-button (click)="removeFile()">
                                        <span class="material-symbols-outlined text-danger">
                                            delete
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2" *ngIf="activity.get('docID').value != null">
                            <a href="{{activity.get('docPath').value}}" target="_blank">View bill</a>
                        </div>
                
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</mat-card>