<div class="card main-card cardOverwrite h100">
    <div class="headerContainer" >
        <div class="headerLeftContainer">
            <div class="pageTitle">{{ pageTitle }}
                <span class="badge rounded-pill cbamBadge mb-1">Scope 3
                </span>
            </div>
            <div class="pageSubtitle"> {{ pageSubTitle }}
            </div>
        </div>
    </div>

    <nav mat-tab-nav-bar >
        <ng-container *ngFor="let tab of tabs; let i = index;">
            <a mat-tab-link [routerLink]="tab['routerLink']" (click)="activeLink = tab['routerLink']"
                [active]="activeLink == tab['routerLink']">
                <div class="fs-6 ms-2">
                    {{ tab['label'] }}
                </div>
            </a>
        </ng-container>
    </nav>
    <router-outlet></router-outlet>

</div>