<mat-checkbox *ngIf="module == 'dashboard' && currentOrgType == 'ORG'" class="ms-3" [formControl]="facilityFC"
    (change)="isIncludeFacility()">Include facilities</mat-checkbox>

<mat-checkbox *ngIf="currentOrgType == 'ORG'" class="ms-3" [formControl]="subsidiaryFC"
    (change)="isIncludeSubsidiary()">Include
    subsidiaries</mat-checkbox>

<mat-form-field class="ms-3">
    <mat-label class="formLabel">Select consolidation approach</mat-label>
    <mat-select [formControl]="consolidationApproachFC" (selectionChange)="selectConsolidationApproach($event)">
        <mat-option *ngFor="let consolidationApproaches of consolidationApproach"
            [value]="consolidationApproaches['keyID']">
            {{consolidationApproaches.name}}
        </mat-option>
    </mat-select>
</mat-form-field>
